Localization
{
    en-us
    {
        #Sol_Oberon_name = Oberon
        #Sol_Oberon_desc = Oberon, also designated Uranus IV, is the outermost major moon of the planet Uranus. It is the second-largest and second most massive of the Uranian moons, and the ninth most massive moon in the Solar System. Discovered by William Herschel in 1787, Oberon is named after the mythical king of the fairies who appears as a character in Shakespeare's A Midsummer Night's Dream. Its orbit lies partially outside Uranus's magnetosphere.
        #Sol_Oberon_Biome1 = Plains
        #Sol_Oberon_Biome2 = Chasmata
        #Sol_Oberon_Biome3 = Craters
        #Sol_Oberon_Biome4 = Hamlet Crater

        #Sol_Science_CrewReport_OberonInSpace = There's some fascinating maria here.
    }
    fr-fr
    {
        #Sol_Oberon_name = Obéron^M
        #Sol_Oberon_desc = Obéron, également désigné Uranus IV, est la plus éloignée des grandes lunes de la planète Uranus. C’est la deuxième plus grande et la deuxième plus massive des lunes uraniennes, et la neuvième plus massive du Système solaire. Découvert par William Herschel en 1787, Obéron doit son nom au roi mythique des fées qui apparaît comme personnage dans Le Songe d’une nuit d’été de Shakespeare. Son orbite se situe en partie à l’extérieur de la magnétosphère d’Uranus.
        #Sol_Oberon_Biome1 = Plaines
        #Sol_Oberon_Biome2 = Chasmata
        #Sol_Oberon_Biome3 = Cratères
        #Sol_Oberon_Biome4 = Cratère Hamlet

        #Sol_Science_CrewReport_OberonInSpace = Il y a ici de fascinants maria.
    }
    ru
    {
        #Sol_Oberon_name = Оберон^M
        #Sol_Oberon_desc = Оберон, также обозначаемый Уран IV, является самой удалённой из крупных спутников Урана. Это вторая по величине и вторая по массе луна Урана, а также девятая по массе луна в Солнечной системе. Открыт Уильямом Гершелем в 1787 году. Название дано в честь мифического короля фей, присутствующего в пьесе Шекспира «Сон в летнюю ночь». Его орбита частично проходит за пределами магнитосферы Урана.
        #Sol_Oberon_Biome1 = Равнины
        #Sol_Oberon_Biome2 = Каньоны
        #Sol_Oberon_Biome3 = Кратеры
        #Sol_Oberon_Biome4 = Кратер Гамлет

        #Sol_Science_CrewReport_OberonInSpace = Здесь есть удивительные моря.
    }
    zh-cn
    {
        #Sol_Oberon_name = 天卫四（Oberon）^N
        #Sol_Oberon_desc = 天卫四是天王星最外侧的主要卫星，同时是天王星第二大、质量第二大的卫星，也是太阳系第九大质量卫星。它由威廉·赫歇尔于1787年发现，以莎士比亚戏剧《仲夏夜之梦》中的仙王奥伯龙命名，其轨道部分位于天王星的磁层之外。
        #Sol_Oberon_Biome1 = 平原
        #Sol_Oberon_Biome2 = 峡谷群
        #Sol_Oberon_Biome3 = 陨石坑
        #Sol_Oberon_Biome4 = 哈姆雷特陨石坑

        #Sol_Science_CrewReport_OberonInSpace = 这里有一些迷人的月海状平原。
    }
}
