Localization
{
    en-us
    {
        // ROCs
        #LOC_Sol_Ridgeline = Ridgeline
        #LOC_Sol_Ejecta = Martian Ejecta
        #LOC_Sol_BrownBoulder = Brown Boulder
        #LOC_Sol_LightStone = Callistoan Light Stone
        #LOC_Sol_Geyser = Geyser
        #LOC_Sol_Berg = Enceladus Berg
        #LOC_Sol_IceChunk1 = Enceladus Ice Chunk
        #LOC_Sol_Meteorite1 = Martian Meteorite
        #LOC_Sol_Stone1 = Martian Stone
        #LOC_Sol_IceChunk2 = Europan Ice Chunk
        #LOC_Sol_Stone2 = Europan Stone
        #LOC_Sol_Stone3 = Stone
        #LOC_Sol_Crater = Lunar Crater
        #LOC_Sol_LargeCrater = Large Lunar Crater
        #LOC_Sol_DarkBoulder = Dark Venusian Boulder
        #LOC_Sol_Meteorite2 = Meteorite
    }
}