Localization
{
    en-us
    {
        #Sol_Titania_name = Titania
        #Sol_Titania_desc = Titania is the largest of the moons of Uranus and the eighth largest moon in the Solar System at a diameter of 1,578 kilometres (981 mi). Discovered by William Herschel in 1787, Titania is named after the queen of the fairies in Shakespeare's A Midsummer Night's Dream. Its orbit lies inside Uranus's magnetosphere.
        #Sol_Titania_Biome1 = Highlands
        #Sol_Titania_Biome2 = Gertrude Crater
        #Sol_Titania_Biome3 = Crater
        #Sol_Titania_Biome4 = Chasmata Messina
        #Sol_Titania_Biome5 = Ursula Crater
        #Sol_Titania_Biome6 = South Pole
        #Sol_Titania_Biome7 = North Pole

        #Sol_Science_CrewReport_TitaniaInSpace = Uranus looks good from here.
    }
    fr-fr
    {
        #Sol_Titania_name = Titania^F
        #Sol_Titania_desc = Titania est la plus grande des lunes d’Uranus et la huitième plus grande lune du Système solaire, avec un diamètre de 1 578 km. Découverte par William Herschel en 1787, Titania doit son nom à la reine des fées dans Le Songe d’une nuit d’été de Shakespeare. Son orbite se situe à l’intérieur de la magnétosphère d’Uranus.
        #Sol_Titania_Biome1 = Hautes terres
        #Sol_Titania_Biome2 = Cratère Gertrude
        #Sol_Titania_Biome3 = Cratère
        #Sol_Titania_Biome4 = Chasmata de Messine
        #Sol_Titania_Biome5 = Cratère Ursula
        #Sol_Titania_Biome6 = Pôle Sud
        #Sol_Titania_Biome7 = Pôle Nord

        #Sol_Science_CrewReport_TitaniaInSpace = Uranus est magnifique vu d’ici.
    }
    ru
    {
        #Sol_Titania_name = Титания^F
        #Sol_Titania_desc = Титания — крупнейший спутник Урана и восьмой по величине спутник в Солнечной системе, с диаметром 1 578 км. Открыта Уильямом Гершелем в 1787 году. Название дано в честь королевы фей из пьесы Шекспира «Сон в летнюю ночь». Её орбита находится внутри магнитосферы Урана.
        #Sol_Titania_Biome1 = Высокие равнины
        #Sol_Titania_Biome2 = Кратер Гертруда
        #Sol_Titania_Biome3 = Кратер
        #Sol_Titania_Biome4 = Каньоны Мессины
        #Sol_Titania_Biome5 = Кратер Урсула
        #Sol_Titania_Biome6 = Южный полюс
        #Sol_Titania_Biome7 = Северный полюс

        #Sol_Science_CrewReport_TitaniaInSpace = Уран отсюда выглядит прекрасно.
    }
    zh-cn
    {
        #Sol_Titania_name = 泰坦妮亚
        #Sol_Titania_desc = 泰坦妮亚（Titania）是天王星最大的卫星，也是太阳系中第八大卫星，直径为1 578 公里。1787年由威廉·赫歇尔发现，名称源自莎士比亚《仲夏夜之梦》中登场的精灵女王。它的轨道位于天王星磁层之内。
        #Sol_Titania_Biome1 = 高地
        #Sol_Titania_Biome2 = 格特鲁德陨石坑
        #Sol_Titania_Biome3 = 陨石坑
        #Sol_Titania_Biome4 = 墨西拿峡谷
        #Sol_Titania_Biome5 = 乌苏拉陨石坑
        #Sol_Titania_Biome6 = 南极
        #Sol_Titania_Biome7 = 北极

        #Sol_Science_CrewReport_TitaniaInSpace = 从这里看，天王星很美。
    }
}
