Localization
{
    en-us
    {
        #Sol_Dactyl_name = Dactyl
        #Sol_Dactyl_desc = (243) Ida I Dactyl is a tiny asteroid moon (1.6 km in diameter) that orbits asteroid 243 Ida. It was imaged by the Galileo spacecraft on August 28, 1993; Dactyl was discovered while examining the delayed image downloads from Galileo on February 17, 1994. It was provisionally designated S/1993 (243) 1. Dactyl orbits Ida with a period of 1.54 days at an average distance of 108 km, with an inclination of 9° to Ida's equator. The origins of Dactyl are unclear, but two main hypotheses exist. The first is that Dactyl and Ida formed at the same time, and the second is that Dactyl was knocked loose by a later impact. Dactyl was the first asteroid moon discovered. Its discovery settled the long debate over the existence of asteroid moons.
        #Sol_Dactyl_Biome1 = Highlands
        #Sol_Dactyl_Biome2 = Lowlands
    }
    fr-fr
    {
        #Sol_Dactyl_name = Dactyle
        #Sol_Dactyl_desc = (243) Ida I Dactyle est une minuscule lune astéroïdale (1,6 km de diamètre) en orbite autour de l’astéroïde 243 Ida. Elle a été imagée par la sonde Galileo le 28 août 1993 et découverte lors de l’examen des téléchargements différés d’images le 17 février 1994. Sa désignation provisoire était S/1993 (243) 1. Dactyle orbite Ida en 1,54 jour à une distance moyenne de 108 km, avec une inclinaison de 9° par rapport à l’équateur d’Ida. Son origine est incertaine : elle pourrait s’être formée en même temps qu’Ida ou avoir été détachée par un impact ultérieur. Dactyle fut la première lune d’astéroïde découverte, confirmant définitivement leur existence.
        #Sol_Dactyl_Biome1 = Hautes terres
        #Sol_Dactyl_Biome2 = Basses terres
    }
    ru
    {
        #Sol_Dactyl_name = Дактиль
        #Sol_Dactyl_desc = (243) Ида I Дактиль — крошечный спутник-астероид (1,6 км в диаметре), обращающийся вокруг астероида 243 Ида. Он был сфотографирован аппаратом «Галилео» 28 августа 1993 года и обнаружен при последующей обработке данных 17 февраля 1994 года. Временное обозначение — S/1993 (243) 1. Дактиль обращается вокруг Иды за 1,54 дня на среднем расстоянии 108 км с наклонением 9° к экватору Иды. Его происхождение неясно: он мог сформироваться вместе с Идой или быть отколотым в результате удара. Дактиль стал первым открытым спутником астероида, окончательно подтвердив их существование.
        #Sol_Dactyl_Biome1 = Высокогорья
        #Sol_Dactyl_Biome2 = Низменности
    }
    zh-cn
    {
        #Sol_Dactyl_name = 达克堤尔
        #Sol_Dactyl_desc = (243) Ida I 达克堤尔是一颗微小的小行星卫星（直径 1.6 公里），环绕小行星 243 Ida 运行。它于 1993 年 8 月 28 日由伽利略号探测器成像，并在 1994 年 2 月 17 日分析延迟传回的图像时被发现。其临时编号为 S/1993 (243) 1。达克堤尔以 1.54 天的周期在平均 108 公里处绕伊达运行，轨道相对于伊达赤道倾角为 9°。其起源尚不确定：可能与伊达同时形成，也可能是后来撞击产生的碎片。达克堤尔是第一颗被发现的小行星卫星，彻底解决了长期争论。
        #Sol_Dactyl_Biome1 = 高地
        #Sol_Dactyl_Biome2 = 低地
    }
}
