Localization
{
    en-us
    {
        #Sol_Ida_name = Ida
        #Sol_Ida_desc = Ida, minor planet designation 243 Ida, is an asteroid in the Koronis family of the asteroid belt. It was discovered on 29 September 1884 by Austrian astronomer Johann Palisa at Vienna Observatory and named after a nymph from Greek mythology. Later telescopic observations categorized Ida as an S-type asteroid, the most numerous type in the inner asteroid belt. On 28 August 1993, Ida was visited by the uncrewed Galileo spacecraft while en route to Jupiter. It was the second asteroid visited by a spacecraft and the first found to have a natural satellite.
        #Sol_Ida_Biome1 = Lobe 1
        #Sol_Ida_Biome2 = Lobe 2
        #Sol_Ida_Biome3 = Undara
        #Sol_Ida_Biome4 = Lascaux
        #Sol_Ida_Biome5 = Waist
    }
    fr-fr
    {
        #Sol_Ida_name = Ida
        #Sol_Ida_desc = Ida, désignation de planète mineure 243 Ida, est un astéroïde de la famille de Koronis dans la ceinture d’astéroïdes. Il a été découvert le 29 septembre 1884 par l’astronome autrichien Johann Palisa à l’Observatoire de Vienne et nommé d’après une nymphe de la mythologie grecque. Des observations télescopiques ultérieures ont classé Ida comme astéroïde de type S, le type le plus répandu dans la ceinture interne. Le 28 août 1993, Ida a été visitée par la sonde Galileo, en route vers Jupiter. Ce fut le deuxième astéroïde visité par une sonde et le premier à avoir un satellite naturel découvert.
        #Sol_Ida_Biome1 = Lobe 1
        #Sol_Ida_Biome2 = Lobe 2
        #Sol_Ida_Biome3 = Undara
        #Sol_Ida_Biome4 = Lascaux
        #Sol_Ida_Biome5 = Taille
    }
    ru
    {
        #Sol_Ida_name = Ида
        #Sol_Ida_desc = Ида, малое небесное тело с обозначением 243 Ида, является астероидом из семейства Коронис в поясе астероидов. Она была открыта 29 сентября 1884 года австрийским астрономом Иоганном Палисой в Венской обсерватории и названа в честь нимфы из греческой мифологии. Позднейшие наблюдения показали, что Ида относится к астероидам спектрального типа S, наиболее многочисленному в внутренней части пояса. 28 августа 1993 года Ида была посещена автоматическим аппаратом «Галилео» по пути к Юпитеру. Это был второй астероид, исследованный космическим аппаратом, и первый, у которого обнаружен естественный спутник.
        #Sol_Ida_Biome1 = Доля 1
        #Sol_Ida_Biome2 = Доля 2
        #Sol_Ida_Biome3 = Ундара
        #Sol_Ida_Biome4 = Ласко
        #Sol_Ida_Biome5 = Перешеек
    }
    zh-cn
    {
        #Sol_Ida_name = 艾女星（Ida）
        #Sol_Ida_desc = 艾女星（IAU编号：243 Ida）是小行星带中科罗尼斯家族（Koronis family）的一员，于1884年9月29日由奥地利天文学家约翰·帕利萨（Johann Palisa）在维也纳天文台发现，以希腊神话中的宁芙命名。后续望远镜观测将其归类为S型小行星——这是内小行星带中数量最多的小行星类型。1993年8月28日，无人伽利略号探测器（Galileo spacecraft）在前往木星的途中造访了艾女星，它也成为人类探测器造访的第二颗小行星，同时是首颗被发现拥有天然卫星的小行星。
        #Sol_Ida_Biome1 = 第一瓣
        #Sol_Ida_Biome2 = 第二瓣
        #Sol_Ida_Biome3 = 恩达拉区
        #Sol_Ida_Biome4 = 拉斯科区
        #Sol_Ida_Biome5 = 腰部
    }
}
