Localization
{
    en-us
    {
        #Sol_Io_name = Io
        #Sol_Io_desc = The closest Galilean moon to Jupiter, and the fourth-largest moon in our Solar System, Io, like all other Galilean moons, was named after one of Zeus's lovers. Io is the most active body in the Solar System geologically which produces an effect on the other moons in Jupiter's grasp. There have been observations of large eruptions that are estimated to rise up to five-hundred-kilometers. Io is made up of silicate rock with an iron sulfide core which can give it the distinctive look achieved by plains coated in sulfur and sulfur dioxide.
        #Sol_Io_Biome1 = Lowlands
        #Sol_Io_Biome2 = Midlands
        #Sol_Io_Biome3 = Highlands
        #Sol_Io_Biome4 = Pyroclastic Wastes
        #Sol_Io_Biome5 = Volcanic Snows
        #Sol_Io_Biome6 = Volcanic Flows
        #Sol_Io_Biome7 = Volcanic Hotspots

        #Sol_Science_CrewReport_IoInSpace1 = You speculate that Io's appearance is characteristic of a three-dimensional slice of a four-dimensional pizza intersecting the plane of our universe.
        #Sol_Science_CrewReport_IoInSpace2 = You pass through volcanic plumes, and can practically smell the sulfur. Not really of course, because the spacecraft is airtight.
        #Sol_Science_CrewReport_IoSrfLanded = Your spacecraft shakes and shifts until it ceases to be stable.

        #Sol_Science_EVAReport_IoSrfLanded1 = It's difficult to move around what with the surface falling apart underneath you.
        #Sol_Science_EVAReport_IoSrfLanded2 = The geiger counter in your suit is clicking a lot. This is probably a bad thing.

        #Sol_Science_SurfaceSample_IoSrfLanded1 = There is plenty of sulphur and sulphur dioxide frosts along the surface. Any rocks or terrain features are likely very very young due to the rapidity in which Io reshapes its surface.
        #Sol_Science_SurfaceSample_IoSrfLanded2 = You are upset that your hypothesis about Io being a three-dimensional slice of a four-dimensional hyperpizza is being proven inaccurate.

        #Sol_Science_TempScan_IoSrfLanded = It's quite warm here on account of the tidal heating.
        
        #Sol_Science_SeismicScan_IoSrfLanded = The moon is constantly shaking. There is a lot of volcanism here.

        #Sol_Science_MML_IoSrfLanded = The baking soda and vinegar reacts violently.
    }
}