Localization
{
    en-us
    {
        #Sol_Io_name = Io
        #Sol_Io_desc = The closest Galilean moon to Jupiter, and the fourth-largest moon in our Solar System, Io, like all other Galilean moons, was named after one of Zeus's lovers. Io is the most active body in the Solar System geologically which produces an effect on the other moons in Jupiter's grasp. There have been observations of large eruptions that are estimated to rise up to five-hundred-kilometers. Io is made up of silicate rock with an iron sulfide core which can give it the distinctive look achieved by plains coated in sulfur and sulfur dioxide.
        #Sol_Io_Biome1 = Lowlands
        #Sol_Io_Biome2 = Midlands
        #Sol_Io_Biome3 = Highlands
        #Sol_Io_Biome4 = Pyroclastic Wastes
        #Sol_Io_Biome5 = Volcanic Snows
        #Sol_Io_Biome6 = Volcanic Flows
        #Sol_Io_Biome7 = Volcanic Hotspots

        #Sol_Science_CrewReport_IoInSpace1 = You speculate that Io's appearance is characteristic of a three-dimensional slice of a four-dimensional pizza intersecting the plane of our universe.
        #Sol_Science_CrewReport_IoInSpace2 = You pass through volcanic plumes, and can practically smell the sulfur. Not really of course, because the spacecraft is airtight.
        #Sol_Science_CrewReport_IoSrfLanded = Your spacecraft shakes and shifts until it ceases to be stable.

        #Sol_Science_EVAReport_IoSrfLanded1 = It's difficult to move around what with the surface falling apart underneath you.
        #Sol_Science_EVAReport_IoSrfLanded2 = The geiger counter in your suit is clicking a lot. This is probably a bad thing.

        #Sol_Science_SurfaceSample_IoSrfLanded1 = There is plenty of sulphur and sulphur dioxide frosts along the surface. Any rocks or terrain features are likely very very young due to the rapidity in which Io reshapes its surface.
        #Sol_Science_SurfaceSample_IoSrfLanded2 = You are upset that your hypothesis about Io being a three-dimensional slice of a four-dimensional hyperpizza is being proven inaccurate.

        #Sol_Science_TempScan_IoSrfLanded = It's quite warm here on account of the tidal heating.
        
        #Sol_Science_SeismicScan_IoSrfLanded = The moon is constantly shaking. There is a lot of volcanism here.

        #Sol_Science_MML_IoSrfLanded = The baking soda and vinegar reacts violently.
    }
    fr-fr
    {
        #Sol_Io_name = Io^F
    }
    ru
    {
        #Sol_Io_name = Ио^F
    }
    zh-cn
    {
        #Sol_Io_name = 木卫一
        #Sol_Io_desc = 离木星最近的伽利略卫星, 太阳系的第四大卫星——木卫一, 和其他的伽利略卫星一样, 也是以宙斯的一位情人的名字命名(Io)的. 在地质学方面,木卫一是太阳系中最活跃的天体, 从而能对木星引力范围内的其他卫星产生影响. 这里有人曾经观测到大规模的火山喷发, 据估计喷其发的高度可达500千米. 木卫一是由硅酸盐岩石和一个硫化铁核心构成的, 平原上覆盖着硫磺和二氧化硫使它看起来非常与众不同. 
        #Sol_Io_Biome1 = 低地
        #Sol_Io_Biome2 = 内陆
        #Sol_Io_Biome3 = 高原
        #Sol_Io_Biome4 = 火山碎屑
        #Sol_Io_Biome5 = 火山雪
        #Sol_Io_Biome6 = 熔岩流
        #Sol_Io_Biome7 = 火山热区

        #Sol_Science_CrewReport_IoInSpace1 = 你推测木卫一的外形特征是与我们宇宙平面相交的四维披萨的三维切片.
        #Sol_Science_CrewReport_IoInSpace2 = 你穿过了火山羽流, 好像都能闻到硫磺的味道. 当然,你不会闻到, 因为飞船是密封的.
        #Sol_Science_CrewReport_IoSrfLanded = 你的宇宙飞船不停地摇晃和移动, 直到它稳定下来.

        #Sol_Science_EVAReport_IoSrfLanded1 = 地面在你脚下不停的陷落, 很难移动.
        #Sol_Science_EVAReport_IoSrfLanded2 = 你太空服里的盖革计数器响得很厉害. 这可能是件坏事.

        #Sol_Science_SurfaceSample_IoSrfLanded1 = 这里的表面上有大量的硫磺和二氧化硫结霜. 由于木卫一重塑其表面的速度, 所有的岩石或地形特征的年代都可能非常非常年轻.
        #Sol_Science_SurfaceSample_IoSrfLanded2 = 你很沮丧, 因为你关于木卫一是四维披萨的三维切片的假设被证明是不准确的.

        #Sol_Science_TempScan_IoSrfLanded = 由于受潮汐的影响, 这里相当暖和.

        #Sol_Science_SeismicScan_IoSrfLanded = 这颗卫星不停地摇晃. 这里有很多活动的火山.

        #Sol_Science_MML_IoSrfLanded = 小苏打和醋反应剧烈.
    }
}