Localization
{
    en-us
    {
        #Sol_Phoebe_name = Phoebe
        #Sol_Phoebe_desc = Phoebe is the most massive irregular satellite of Saturn. It was discovered by William Henry Pickering on 18 March 1899 from photographic plates that had been taken by DeLisle Stewart starting on 16 August 1898 at the Boyden Station of the Carmen Alto Observatory near Arequipa, Peru. It was the first natural satellite to be discovered photographically.

        #Sol_Phoebe_Biome1 = Jason
        #Sol_Phoebe_Biome2 = Eurytus
        #Sol_Phoebe_Biome3 = Admetus
        #Sol_Phoebe_Biome4 = Clytius
        #Sol_Phoebe_Biome5 = Peleus
        #Sol_Phoebe_Biome6 = Surface
    }
    fr-fr
    {
        #Sol_Phoebe_name = Phoebé
        #Sol_Phoebe_desc = Phoebé est le satellite irrégulier le plus massif de Saturne. Elle a été découverte par William Henry Pickering le 18 mars 1899 à partir de plaques photographiques prises par DeLisle Stewart à partir du 16 août 1898 à la station Boyden de l’observatoire de Carmen Alto près d’Arequipa, au Pérou. Ce fut le premier satellite naturel découvert par photographie.

        #Sol_Phoebe_Biome1 = Jason
        #Sol_Phoebe_Biome2 = Eurytus
        #Sol_Phoebe_Biome3 = Admetus
        #Sol_Phoebe_Biome4 = Clytius
        #Sol_Phoebe_Biome5 = Pélée
        #Sol_Phoebe_Biome6 = Surface
    }
    ru
    {
        #Sol_Phoebe_name = Феба
        #Sol_Phoebe_desc = Феба — самый массивный нерегулярный спутник Сатурна. Она была открыта Уильямом Генри Пикерингом 18 марта 1899 года по фотографическим пластинкам, сделанным ДеЛайлом Стюартом, начиная с 16 августа 1898 года на станции Бойдена обсерватории Кармен-Альто возле Арекипы, Перу. Это был первый естественный спутник, открытый с помощью фотографии.

        #Sol_Phoebe_Biome1 = Ясон
        #Sol_Phoebe_Biome2 = Эврит
        #Sol_Phoebe_Biome3 = Адмет
        #Sol_Phoebe_Biome4 = Клитий
        #Sol_Phoebe_Biome5 = Пелей
        #Sol_Phoebe_Biome6 = Поверхность
    }
    zh-cn
    {
        #Sol_Phoebe_name = 土卫九（Phoebe）
        #Sol_Phoebe_desc = 土卫九是土星质量最大的不规则卫星。1899年3月18日，威廉·亨利·皮克林根据德莱斯勒·斯图尔特的照片底片发现了它——这些底片由斯图尔特于1898年8月16日起，在秘鲁阿雷基帕附近的卡门阿尔托天文台博伊登站拍摄。土卫九也是人类第一颗通过摄影技术发现的天然卫星。
        #Sol_Phoebe_Biome1 = 杰森区
        #Sol_Phoebe_Biome2 = 欧律托斯区
        #Sol_Phoebe_Biome3 = 阿德墨托斯区
        #Sol_Phoebe_Biome4 = 克吕提俄斯区
        #Sol_Phoebe_Biome5 = 珀琉斯区
        #Sol_Phoebe_Biome6 = 地表
    }
}