Localization
{
    en-us
    {
        #Sol_Hydra_name = Hydra
        #Sol_Hydra_desc = Hydra is a natural satellite of Pluto, with a diameter of approximately 51 km (32 mi) across its longest dimension. It is the second-largest moon of Pluto, being slightly larger than Nix. Hydra was discovered along with Nix by astronomers using the Hubble Space Telescope on 15 May 2005, and was named after the Hydra, the nine-headed underworld serpent in Greek mythology. By distance, Hydra is the fifth and outermost moon of Pluto, orbiting beyond Pluto's fourth moon Kerberos.
        #Sol_Hydra_Biome1 = Highlands
        #Sol_Hydra_Biome2 = Midlands
        #Sol_Hydra_Biome3 = Lowlands

        #Sol_Science_GravityScan_HydraInSpace = Hydra's rotation is unpredictable due the tidal interactions of its parent dwarf planets Pluto and Charon.
    }
    fr-fr
    {
        #Sol_Hydra_name = Hydra
        #Sol_Hydra_desc = Hydra est un satellite naturel de Pluton, d’un diamètre d’environ 51 km dans sa plus grande dimension. C’est la deuxième plus grande lune de Pluton, légèrement plus grande que Nix. Hydra a été découverte en même temps que Nix par des astronomes utilisant le télescope spatial Hubble le 15 mai 2005, et a été nommée d’après l’Hydre, le serpent des Enfers à neuf têtes de la mythologie grecque. Par sa distance, Hydra est la cinquième et la plus éloignée des lunes de Pluton, orbitant au-delà de Kerberos.
        #Sol_Hydra_Biome1 = Hautes-terres
        #Sol_Hydra_Biome2 = Régions moyennes
        #Sol_Hydra_Biome3 = Basses-terres

        #Sol_Science_GravityScan_HydraInSpace = La rotation d’Hydra est imprévisible en raison des interactions gravitationnelles avec les planètes naines Pluton et Charon.
    }
    ru
    {
        #Sol_Hydra_name = Гидра
        #Sol_Hydra_desc = Гидра — естественный спутник Плутона, диаметр которого составляет примерно 51 км в наибольшем измерении. Это вторая по величине луна Плутона, немного больше, чем Никта. Гидра была открыта вместе с Никтой астрономами с помощью космического телескопа «Хаббл» 15 мая 2005 года и названа в честь девятиголовой подземной змеи Гидры из греческой мифологии. По расстоянию Гидра является пятой и самой удалённой луной Плутона, вращающейся за пределами орбиты Кербера.
        #Sol_Hydra_Biome1 = Высокогорья
        #Sol_Hydra_Biome2 = Средние регионы
        #Sol_Hydra_Biome3 = Низины

        #Sol_Science_GravityScan_HydraInSpace = Вращение Гидры непредсказуемо из-за приливных взаимодействий с карликовыми планетами Плутоном и Хароном.
    }
    zh-cn
    {
        #Sol_Hydra_name = 冥卫三（Hydra）
        #Sol_Hydra_desc = 冥卫三（IAU编号：134340 Pluto III Hydra）是冥王星的一颗天然卫星，最长维度直径约51公里（32英里），是冥王星第二大卫星，略大于冥卫二（Nix）。它与冥卫二一同于2005年5月15日由天文学家通过哈勃空间望远镜发现，以希腊神话中冥界的九头蛇许德拉命名。按轨道距离排序，冥卫三是冥王星的第五颗卫星，也是最外侧的一颗，运行于冥王星第四颗卫星冥卫四（Kerberos）的轨道之外。
        #Sol_Hydra_Biome1 = 高地
        #Sol_Hydra_Biome2 = 内陆
        #Sol_Hydra_Biome3 = 低地

        #Sol_Science_GravityScan_HydraInSpace = 受母矮行星冥王星和冥卫一的潮汐相互作用影响，冥卫三的旋转难以预测。
    }
}
