Localization
{
    en-us
    {
        #Sol_Venus_name = Venus^N
        #Sol_Venus_desc = This beautiful object is the second planet of our neighborhood. Named after the goddess of love and beauty, Venus is one of the brightest objects in our night sky. Though she is considered a sister planet to Earth, Venus has no satellites (moons) and is alone in her orbit around our star.
        #Sol_Venus_Biome1 = Midlands
        #Sol_Venus_Biome2 = Mountains
        #Sol_Venus_Biome3 = Canyons
        #Sol_Venus_Biome4 = Lakshmi Planum
        #Sol_Venus_Biome5 = Fortuna Tessera
        #Sol_Venus_Biome6 = Volcanic Rise
        #Sol_Venus_Biome7 = Highlands
        #Sol_Venus_Biome8 = Lowlands

        #Sol_Science_CrewReport_VenusSrfLanded1 = The red temperature alarm light is blinking on and off. The spacecraft may or may not be melting right now.
        #Sol_Science_CrewReport_VenusSrfLanded2 = What a wonderful place to stage a faked Moon landing.
        #Sol_Science_CrewReport_VenusInSpace = Below you is a nearly flat white-yellow rolling sphere. The cloud formations are barely apparent in visible light. You know that the surface is much less serene.
        #Sol_Science_CrewReport_VenusFlyingHigh = The clouds are gradually approaching. The beautiful sky reminds you of Earth's sky.
        #Sol_Science_CrewReport_VenusFlyingLow = Passing through the clouds, the lighting becomes very much darker and it takes a few moments for your eyes to adjust. You can just about make out the orange-grey surface.

        #Sol_Science_EVAReport_VenusSrfLanded1 = After only a few seconds on the surface, you worry that your space suit may not be up to the task of keeping you from burning to a crisp.
        #Sol_Science_EVAReport_VenusSrfLanded2 = No time for big speeches. You're here to pick up rocks.
        #Sol_Science_EVAReport_VenusSrfLanded3 = Every surface is coated in a dull, flat, orange light. The atmosphere is so thick it's like looking through water.
        #Sol_Science_EVAReport_VenusSrfLanded4 = There are no shadows, and you can not see the Sun. The light is very dim, like twilight on Earth.
        #Sol_Science_EVAReport_VenusFlyingHigh = This is a rather precarious situation.
        #Sol_Science_EVAReport_VenusFlyingLow = You're falling so slowly you'd probably be fine.
        #Sol_Science_EVAReport_VenusInSpace = "...And maybe they've seen us... and welcome us allllll, yeah. With so many lightyears to go... and things to be fo-ou-ound, I'm sure that we all miss her sooooo... It's the Final Countdown! Dananaaaaa naaaa! Danana na naaaa! Dannana naaaa! The final countdown, woah, oh!" A few minutes later you hear Mission Control struggling to keep from laughing.

        #Sol_Science_SurfaceSample_VenusSrfLanded = The grey-orange rocks are very rounded due to wind erosion. The surface is cracked.

        #Sol_Science_TempScan_VenusSrfLanded1 = The thermometer has melted and then boiled.
        #Sol_Science_TempScan_VenusSrfLanded2 = The temperature is hot enough to melt lead.
        #Sol_Science_TempScan_VenusFlyingLow = Venus is very clearly the hottest planet in the Solar System.
        #Sol_Science_TempScan_VenusFlyingHigh = The temperature is only a little warmer than Earth sea level here. In fact if it weren't for the poisonous acid in the atmosphere and the lack of oxygen, this might be one of the most Earthlike places in the solar system (other than Earth, of course.)

        #Sol_Science_SeismicScan_VenusSrfLanded = The planet is geologically dead for the most part.

        #Sol_Science_GravityScan_VenusInSpace = The sensor provides a map of the surface despite the extremely thick clouds blocking the surface from view.

        #Sol_Science_AtmoAnalysis_VenusSrfLanded = Carbon Dioxide, Nitrogen, and Sulphuric Acid. Not fun stuff to breathe, certainly not at these temperatures.
        #Sol_Science_AtmoAnalysis_VenusFlyingHigh = Carbon Dioxide, Nitrogen. A bit of acids in the air. You wouldn't want to breathe the stuff, but you could probably go outside and be fine.

        #Sol_Science_MysteryGoo_VenusSrfLanded = The Goo has boiled away leaving behind a black, burnt residue.
        #Sol_Science_MysteryGoo_VenusInSpace = The Goo has become rubbery and bounces around the container.
        #Sol_Science_MysteryGoo_VenusFlyingHigh = The Goo turns blue.
        #Sol_Science_MysteryGoo_VenusFlyingLow = The goo is beginning to boil.

        #Sol_Science_MML_VenusSrfLanded1 = The crushing pressure of the atmosphere is causing some of the materials to crystallize rapidly.
        #Sol_Science_MML_VenusSrfLanded2 = Some of the samples boil, others melt. The lead sample is now coating the bottom of the bay, and the plastic coating the wires has melted to cover the top of the lead pool. One sample solidifies, against all known laws of nature.
    }
    fr-fr
    {
        #Sol_Venus_name = Vénus^F
    }
    ru
    {
        #Sol_Venus_name = Венера^F
    }
    zh-cn
    {
        #Sol_Venus_name = 金星
        #Sol_Venus_desc = 这个美丽的天体是我们附近的第二颗行星. 以爱与美的女神的名字(Venus)命名, 金星是我们夜空中最明亮的物体之一. 尽管金星被认为是地球的姊妹行星, 但她没有任何卫星(天体卫星)且独自在她围绕太阳的轨道上.
        #Sol_Venus_Biome1 = 内陆
        #Sol_Venus_Biome2 = 山脉
        #Sol_Venus_Biome3 = 峡谷
        #Sol_Venus_Biome4 = 拉克西米高原
        #Sol_Venus_Biome5 = 福尔图娜镶嵌地
        #Sol_Venus_Biome6 = 火山隆起
        #Sol_Venus_Biome7 = 高原
        #Sol_Venus_Biome8 = 低地

        #Sol_Science_CrewReport_VenusSrfLanded1 = 红色的温度警示灯忽明忽暗地闪烁着. 飞船现在可能正在熔化, 也可能不会熔化.
        #Sol_Science_CrewReport_VenusSrfLanded2 = 真是个上演假登月的好地方. 
        #Sol_Science_CrewReport_VenusInSpace = 在你的下方是一个几乎扁平的黄白相间的滚动球体.云层在可见光下几乎看不出来.你知道, 地面要平静得多.
        #Sol_Science_CrewReport_VenusFlyingHigh = 云渐渐逼近了. 美丽的天空让你想起了地球的天空.
        #Sol_Science_CrewReport_VenusFlyingLow = 穿过云层, 光线变得非常暗, 你的眼睛需要一些时间来调整. 你只能微微分辨出地面是橙灰色的.

        #Sol_Science_EVAReport_VenusSrfLanded1 = 在地面上只待几秒钟, 你就会担心你的宇航服可能达不到防止你被烤焦的水准.
        #Sol_Science_EVAReport_VenusSrfLanded2 = 没有时间来做重要演讲. 你只是来捡石头的.
        #Sol_Science_EVAReport_VenusSrfLanded3 = 每一片地面都覆盖着一层暗淡的、平坦的、橙色的光. 大气层很厚, 就像透过水看一样. 
        #Sol_Science_EVAReport_VenusSrfLanded4 = 没有影子, 你就看不见太阳. 光线很暗, 就像地球上的黄昏.
        #Sol_Science_EVAReport_VenusFlyingHigh = 情况很危急.
        #Sol_Science_EVAReport_VenusFlyingLow = 你慢慢地往下掉, 这个速度太慢了,你会没事的.
        #Sol_Science_EVAReport_VenusInSpace = "...And maybe they've seen us... and welcome us allllll, yeah. With so many lightyears to go... and things to be fo-ou-ound, I'm sure that we all miss her sooooo... It's the Final Countdown! Dananaaaaa naaaa! Danana na naaaa! Dannana naaaa! The final countdown, woah, oh!" 几分钟后, 你听到任务控制中心在拼命忍住不笑.

        #Sol_Science_SurfaceSample_VenusSrfLanded = 由于风蚀, 灰橙色的岩石非常圆. 表面裂开了.

        #Sol_Science_TempScan_VenusSrfLanded1 = 温度计先融化, 然后煮沸.
        #Sol_Science_TempScan_VenusSrfLanded2 = 温度高得足以熔化铅.
        #Sol_Science_TempScan_VenusFlyingLow = 金星显然是太阳系中最热的行星.
        #Sol_Science_TempScan_VenusFlyingHigh = 这里的温度只比地球海平面高一点点. 事实上, 如果大气中没有有毒的酸雾并且存在氧气的话, 这里可能是太阳系中最像地球的地方之一(当然，地球除外).

        #Sol_Science_SeismicScan_VenusSrfLanded = 从地质学的角度来说, 这个星球的大部分是死的.
        
        #Sol_Science_GravityScan_VenusInSpace = 该传感器提供了一幅地表地图, 尽管厚厚的云层挡住了视线.

        #Sol_Science_AtmoAnalysis_VenusSrfLanded = 二氧化碳、氮气和硫酸. 呼吸起来不好玩, 在这种温度下肯定不行.
        #Sol_Science_AtmoAnalysis_VenusFlyingHigh = 二氧化碳、氮气. 空气中还有一点酸。你不会想把这些吸进去, 但你还是可以安然无恙地出去.

        #Sol_Science_MysteryGoo_VenusSrfLanded = 黏液物质已经煮沸, 留下一个黑色的焦渣.
        #Sol_Science_MysteryGoo_VenusInSpace = 黏液物质变得有弹性，在容器壁里弹来弹去.
        #Sol_Science_MysteryGoo_VenusFlyingHigh = 黏液物质变成蓝色了.
        #Sol_Science_MysteryGoo_VenusFlyingLow = 黏液物质开始沸腾.

        #Sol_Science_MML_VenusSrfLanded1 = 大气的压溃力使一些材料迅速结晶.
        #Sol_Science_MML_VenusSrfLanded2 = 一些样品沸腾了, 另一些则融化了.铅样品现在覆盖在电池槽的底部, 电线的塑料涂层已经融化, 覆盖在铅池的顶部. 一个样本凝固了, 违背了所有已知的自然法则.
    }
}