Localization
{
    en-us
    {
        #Sol_Eros_name = Eros
        #Sol_Eros_desc = Eros (minor planet designation: (433) Eros), provisional designation 1898 DQ, is a stony asteroid of the Amor group and the first discovered and second-largest near-Earth object with an elongated shape and a mean diameter of approximately 16.8 kilometers (10.4 miles). Visited by the NEAR Shoemaker space probe in 1998, it became the first asteroid ever studied from orbit around the asteroid.
        #Sol_Eros_Biome1 = Charlois Regio
        #Sol_Eros_Biome2 = Himeros
        #Sol_Eros_Biome3 = Psyche
        #Sol_Eros_Biome4 = Highlands
        #Sol_Eros_Biome5 = Lowlands
    }
    fr-fr
    {
        #Sol_Eros_name = Éros
        #Sol_Eros_desc = Éros (désignation de planète mineure : (433) Éros), désignation provisoire 1898 DQ, est un astéroïde pierreux du groupe Amor et le premier objet géocroiseur découvert ainsi que le deuxième plus grand, avec une forme allongée et un diamètre moyen d’environ 16,8 kilomètres. Visité par la sonde NEAR Shoemaker en 1998, il devint le premier astéroïde jamais étudié depuis l’orbite autour de l’astéroïde.
        #Sol_Eros_Biome1 = Charlois Regio
        #Sol_Eros_Biome2 = Himeros
        #Sol_Eros_Biome3 = Psyché
        #Sol_Eros_Biome4 = Hautes terres
        #Sol_Eros_Biome5 = Basses terres
    }
    ru
    {
        #Sol_Eros_name = Эрос
        #Sol_Eros_desc = Эрос (обозначение малой планеты: (433) Эрос), временное обозначение 1898 DQ, — каменный астероид из группы Амуров, первый открытый и второй по величине околоземный объект. Он имеет вытянутую форму и средний диаметр около 16,8 километра. В 1998 году был исследован зондом NEAR Shoemaker и стал первым астероидом, изученным с орбиты вокруг него.
        #Sol_Eros_Biome1 = Charlois Regio
        #Sol_Eros_Biome2 = Гимерос
        #Sol_Eros_Biome3 = Психея
        #Sol_Eros_Biome4 = Высокогорья
        #Sol_Eros_Biome5 = Низины
    }
    zh-cn
    {
        #Sol_Eros_name = 爱神星（Eros）
        #Sol_Eros_desc = 爱神星（IAU编号：433 Eros），临时编号1898 DQ，是阿莫尔群（Amor group）中的一颗石质小行星。它是人类发现的首颗近地天体，也是此类天体中第二大的成员，呈长条状外形，平均直径约16.8公里（10.4英里）。1998年，近地小行星交会探测器“舒梅克号”（NEAR Shoemaker）造访了爱神星，使其成为人类首个通过环绕轨道进行详细研究的小行星。
        #Sol_Eros_Biome1 = 沙卢瓦区
        #Sol_Eros_Biome2 = 希梅罗斯区
        #Sol_Eros_Biome3 = 普绪克区
        #Sol_Eros_Biome4 = 高地
        #Sol_Eros_Biome5 = 低地
    }
}
