Localization
{
    en-us
    {
        #Sol_Dione_name = Dione
        #Sol_Dione_desc = At 1122 km in diameter, Dione is the 15th largest moon in the Solar System, and is more massive than all known moons smaller than itself combined, first discovered in 1684 by Giovanni Cassini.

        #Sol_Dione_Biome1 = Flatlands
        #Sol_Dione_Biome2 = Northern Polar Region
        #Sol_Dione_Biome3 = Southern Polar Region
        #Sol_Dione_Biome4 = Scarred Region
        #Sol_Dione_Biome5 = Crater
        #Sol_Dione_Biome6 = Ridge

        #Sol_Science_CrewReport_DioneInSpace = Another boring white moon. Geez, how many can Saturn have?
    }
    fr-fr
    {
        #Sol_Dione_name = Dioné^F
    }
    ru
    {
        #Sol_Dione_name = Диона^F
    }
    zh-cn
    {
        #Sol_Tethys_name = 土卫三
        #Sol_Tethys_desc = 土卫三是土星的一颗中等大小的卫星, 直径约1060公里, 以希腊神话中的泰坦神族忒堤斯命名.
        #Sol_Tethys_Biome1 = 大平原
        #Sol_Tethys_Biome2 = 北极区
        #Sol_Tethys_Biome3 = 南极区
        #Sol_Tethys_Biome4 = 奥德修斯陨石坑
        #Sol_Tethys_Biome5 = 伊萨卡峡谷
        #Sol_Tethys_Biome6 = 火山口

        #Sol_Science_CrewReport_DioneInSpace = 又一个无聊的白色的卫星. 天哪, 土星还能有多少个这种卫星?
    }
}