Localization
{
    en-us
    {
        #Sol_Neptune_name = Neptune
        #Sol_Neptune_desc = Neptune is the eighth and farthest planet from the Sun in the Solar System. It is the fourth-largest planet by diameter and the third-largest by mass. Among the gaseous planets in the Solar System, Neptune is the most dense.
        #Sol_Neptune_Biome1 = Equatorial Bands
        #Sol_Neptune_Biome2 = North Polar Bands
        #Sol_Neptune_Biome3 = North Temperate Bands
        #Sol_Neptune_Biome4 = North Equatorial Bands
        #Sol_Neptune_Biome5 = South Temperate Bands
        #Sol_Neptune_Biome6 = South Polar Bands

        #Sol_Science_CrewReport_NeptuneInSpace = You have to double take to be 100% certain you didn't just look at the ocean hemisphere of Earth.
        #Sol_Science_CrewReport_NeptuneFlyingHigh = Aerobraking is so difficult you curse like a sailor until you pass out.
        #Sol_Science_CrewReport_NeptuneFlying1 = The storms toss and turn your ship. The winds are much much faster here without all that land in the way.
        #Sol_Science_CrewReport_NeptuneFlying2 = Your ship is struck by lightning at least three times in as many seconds.
        #Sol_Science_CrewReport_NeptuneFlying3 = You're not going back home, are you.

        #Sol_Science_EVAReport_NeptuneFlyingHigh = After all the time it took to get you here you're just going to die burning up in the upper atmosphere. What a shame.
        #Sol_Science_EVAReport_NeptuneFlyingLow = Get. Back. In. The. Ship.

        #Sol_Science_MysteryGoo_NeptuneInSpace = The Goo is becoming agitated and seems to be giving off heat.
        #Sol_Science_MysteryGoo_NeptuneFlying = The goo has turned a dark blue and has become puffy.

        #Sol_Science_MML_NeptuneInSpace = The samples glow in unique ways, hinting at the magnetic field of Neptune.
        #Sol_Science_MML_NeptuneFlyingHigh = The intense crushing pressure has drastically changed the composition of the materials. Super heating and ablation effects have been observed. The science bay is looking very disgruntled.
        #Sol_Science_MML_NeptuneFlyingLow = The samples burn, boil or crumple under the extreme pressures and heat. The visual camera shows a wonderful rainbow of colors before it cuts out.
        #Sol_Science_MML_NeptuneSrfLanded = You're not sure where the container stops and the samples start anymore...
    }
    fr-fr
    {
        #Sol_Neptune_name = Neptune
        #Sol_Neptune_desc = Neptune est la huitième et la plus lointaine planète du Soleil dans le Système solaire. C’est la quatrième plus grande par diamètre et la troisième par masse. Parmi les planètes gazeuses, Neptune est la plus dense.
        #Sol_Neptune_Biome1 = Bandes équatoriales
        #Sol_Neptune_Biome2 = Bandes polaires nord
        #Sol_Neptune_Biome3 = Bandes tempérées nord
        #Sol_Neptune_Biome4 = Bandes équatoriales nord
        #Sol_Neptune_Biome5 = Bandes tempérées sud
        #Sol_Neptune_Biome6 = Bandes polaires sud

        #Sol_Science_CrewReport_NeptuneInSpace = Vous devez regarder deux fois pour être certain à 100 % que vous n’avez pas confondu avec l’hémisphère océanique de la Terre.
        #Sol_Science_CrewReport_NeptuneFlyingHigh = La rentrée atmosphérique est si difficile que vous jurez comme un marin avant de vous évanouir.
        #Sol_Science_CrewReport_NeptuneFlying1 = Les tempêtes secouent violemment votre vaisseau. Les vents sont bien plus rapides ici sans aucun continent pour les ralentir.
        #Sol_Science_CrewReport_NeptuneFlying2 = Votre vaisseau est frappé par la foudre au moins trois fois en quelques secondes.
        #Sol_Science_CrewReport_NeptuneFlying3 = Vous n’allez pas rentrer à la maison, n’est-ce pas ?

        #Sol_Science_EVAReport_NeptuneFlyingHigh = Après tout ce temps de voyage, vous allez simplement brûler dans l’atmosphère supérieure. Quel gâchis.
        #Sol_Science_EVAReport_NeptuneFlyingLow = Rentre. Dans. Le. Vaisseau.

        #Sol_Science_MysteryGoo_NeptuneInSpace = Le Goo s’agite et semble dégager de la chaleur.
        #Sol_Science_MysteryGoo_NeptuneFlying = Le Goo est devenu bleu foncé et gonflé.

        #Sol_Science_MML_NeptuneInSpace = Les échantillons brillent de manière unique, révélant l’existence du champ magnétique de Neptune.
        #Sol_Science_MML_NeptuneFlyingHigh = L’énorme pression a complètement modifié la composition des matériaux. Des effets de surchauffe et d’ablation sont observés. Le labo scientifique n’a pas l’air content.
        #Sol_Science_MML_NeptuneFlyingLow = Les échantillons brûlent, bouillent ou s’écrasent sous l’extrême pression et chaleur. La caméra montre un magnifique arc-en-ciel avant de s’éteindre.
        #Sol_Science_MML_NeptuneSrfLanded = Vous n’êtes plus sûr de savoir où le conteneur finit et où les échantillons commencent…
    }
    ru
    {
        #Sol_Neptune_name = Нептун
        #Sol_Neptune_desc = Нептун — восьмая и самая дальняя планета от Солнца в Солнечной системе. Четвёртая по диаметру и третья по массе. Среди газовых гигантов Нептун является самым плотным.
        #Sol_Neptune_Biome1 = Экваториальные полосы
        #Sol_Neptune_Biome2 = Северные полярные полосы
        #Sol_Neptune_Biome3 = Северные умеренные полосы
        #Sol_Neptune_Biome4 = Северные экваториальные полосы
        #Sol_Neptune_Biome5 = Южные умеренные полосы
        #Sol_Neptune_Biome6 = Южные полярные полосы

        #Sol_Science_CrewReport_NeptuneInSpace = Приходится смотреть дважды, чтобы убедиться, что это не океаническая сторона Земли.
        #Sol_Science_CrewReport_NeptuneFlyingHigh = Аэроторможение настолько сложно, что вы ругаетесь как матрос, пока не теряете сознание.
        #Sol_Science_CrewReport_NeptuneFlying1 = Штормы швыряют ваш корабль. Ветра здесь намного быстрее без всякой суши на пути.
        #Sol_Science_CrewReport_NeptuneFlying2 = Ваш корабль поражает молния три раза подряд за пару секунд.
        #Sol_Science_CrewReport_NeptuneFlying3 = Вы ведь уже не собираетесь домой, да?

        #Sol_Science_EVAReport_NeptuneFlyingHigh = После всех этих лет пути вы просто сгорите в верхней атмосфере. Какая жалость.
        #Sol_Science_EVAReport_NeptuneFlyingLow = В. Корабль. Немедленно.

        #Sol_Science_MysteryGoo_NeptuneInSpace = Гу начинает волноваться и будто выделяет тепло.
        #Sol_Science_MysteryGoo_NeptuneFlying = Гу стал тёмно-синим и раздулся.

        #Sol_Science_MML_NeptuneInSpace = Образцы светятся необычно, намекая на магнитное поле Нептуна.
        #Sol_Science_MML_NeptuneFlyingHigh = Чудовищное давление радикально изменило состав материалов. Наблюдаются перегрев и абляция. Научный отсек выглядит крайне недовольным.
        #Sol_Science_MML_NeptuneFlyingLow = Образцы горят, кипят или смяты давлением и жаром. Камера показывает прекрасную радугу перед отключением.
        #Sol_Science_MML_NeptuneSrfLanded = Вы уже не понимаете, где заканчивается контейнер и начинаются образцы…
    }
    zh-cn
    {
        #Sol_Neptune_name = 海王星（Neptune）
        #Sol_Neptune_desc = 海王星是太阳系第八颗行星，也是离太阳最远的行星。它的直径在行星中排名第四，质量排名第三，同时是太阳系气态行星中密度最大的一颗。
        #Sol_Neptune_Biome1 = 赤道带
        #Sol_Neptune_Biome2 = 北极带
        #Sol_Neptune_Biome3 = 北温带
        #Sol_Neptune_Biome4 = 北赤道带
        #Sol_Neptune_Biome5 = 南温带
        #Sol_Neptune_Biome6 = 南极带

        #Sol_Science_CrewReport_NeptuneInSpace = 你忍不住揉了揉眼睛确认——这真的不是地球的海洋半球吗？
        #Sol_Science_CrewReport_NeptuneFlyingHigh = 大气制动难到离谱，你骂骂咧咧直到昏过去。
        #Sol_Science_CrewReport_NeptuneFlying1 = 风暴把你的飞船掀得东倒西歪，这里没有陆地阻挡，风速快得吓人。
        #Sol_Science_CrewReport_NeptuneFlying2 = 短短几秒内，你的飞船至少被闪电击中了三次。
        #Sol_Science_CrewReport_NeptuneFlying3 = 你大概是回不去了吧。

        #Sol_Science_EVAReport_NeptuneFlyingHigh = 花了这么久才飞到这儿，结果你就要在高层大气里烧得灰飞烟灭了，真可惜。
        #Sol_Science_EVAReport_NeptuneFlyingLow = 赶！紧！回！船！里！去！

        #Sol_Science_MysteryGoo_NeptuneInSpace = 神秘黏液变得躁动不安，而且似乎在释放热量。
        #Sol_Science_MysteryGoo_NeptuneFlying = 黏液变成了深蓝色，还鼓了起来，像块蓬松的蓝果冻。

        #Sol_Science_MML_NeptuneInSpace = 样本发出独特的光芒，暗示着海王星磁场的存在。
        #Sol_Science_MML_NeptuneFlyingHigh = 巨大的压力彻底改变了材料的成分，观察到了超高温和烧蚀现象。科学舱看起来“一脸不爽”。
        #Sol_Science_MML_NeptuneFlyingLow = 在极端压力和高温下，样本要么燃烧、要么沸腾、要么碎裂。视觉摄像机在失灵前，捕捉到了一道绚丽的彩虹色光芒。
        #Sol_Science_MML_NeptuneSrfLanded = 你已经分不清容器和样本的边界了……
    }
}
