Localization
{
    en-us
    {
        #Sol_Ariel_name = Ariel
        #Sol_Ariel_desc = Ariel is the fourth-largest of the 27 known moons of Uranus. Ariel orbits and rotates in the equatorial plane of Uranus, which is almost perpendicular to the orbit of Uranus, and so has an extreme seasonal cycle.
        #Sol_Ariel_Biome1 = Plains
        #Sol_Ariel_Biome2 = Chasmata
        #Sol_Ariel_Biome3 = Craters

        #Sol_Science_CrewReport_ArielInSpace = Some more severely cracked terrain here. A very interesting looking moon. Uranus' moons have a lot of cracks.
    }
    fr-fr
    {
        #Sol_Ariel_name = Ariel^M
        #Sol_Ariel_desc = Ariel est la quatrième plus grande des 27 lunes connues d'Uranus. Ariel orbite et tourne dans le plan équatorial d'Uranus, presque perpendiculaire à l'orbite de la planète, ce qui entraîne un cycle saisonnier extrême.
        #Sol_Ariel_Biome1 = Plaines
        #Sol_Ariel_Biome2 = Chasmata
        #Sol_Ariel_Biome3 = Cratères

        #Sol_Science_CrewReport_ArielInSpace = Un terrain encore plus fissuré ici. Une lune très intéressante. Les lunes d'Uranus présentent beaucoup de fissures.
    }
    ru
    {
        #Sol_Ariel_name = Ариэль^M
        #Sol_Ariel_desc = Ариэль — четвёртый по величине из 27 известных спутников Урана. Ариэль обращается и вращается в экваториальной плоскости Урана, которая почти перпендикулярна орбите планеты, из-за чего наблюдается крайне выраженный сезонный цикл.
        #Sol_Ariel_Biome1 = Равнины
        #Sol_Ariel_Biome2 = Хасматы
        #Sol_Ariel_Biome3 = Кратеры

        #Sol_Science_CrewReport_ArielInSpace = Здесь ещё более сильно растрескавшаяся поверхность. Очень интересная луна. У спутников Урана много трещин.
    }
    zh-cn
    {
        #Sol_Ariel_name = 艾丽尔
        #Sol_Ariel_desc = 艾丽尔是天王星27颗已知卫星中第四大的一颗。艾丽尔在天王星的赤道平面上运行和自转，该平面几乎垂直于天王星的公转轨道，因此其季节循环极端。
        #Sol_Ariel_Biome1 = 平原
        #Sol_Ariel_Biome2 = 峡谷
        #Sol_Ariel_Biome3 = 陨石坑

        #Sol_Science_CrewReport_ArielInSpace = 这里的地形更加布满裂缝。一颗非常有趣的卫星。天王星的卫星有很多裂缝。
    }
}
