Localization
{
    en-us
    {
        // TEMPORARY - TRANSFERRED FROM RSS //
        // General
        #Sol_Mercury_name = Mercury^N
        #Sol_Mercury_desc = The first planet in our neighborhood. Mercury is the smallest and fastest of the planets in the solar system. From Earth you may be able to see this planet in the early morning or evening. With temperatures varying from very hot to very cold, this planet is not one that you would want to be on for very long.

        // Biomes
        #Sol_Mercury_Biome1 = Lowlands
        #Sol_Mercury_Biome2 = Midlands
        #Sol_Mercury_Biome3 = Highlands
        #Sol_Mercury_Biome4 = Polar Craters
        #Sol_Mercury_Biome5 = Polar Lowlands
        #Sol_Mercury_Biome6 = Planitia
        #Sol_Mercury_Biome7 = Old Craters
        #Sol_Mercury_Biome8 = Young Craters

        //Crew Report
        #Sol_Science_CrewReport_MercurySrfLanded = Is it hot out there or is it just me?
        #Sol_Science_CrewReport_MercuryInSpace = You look down at the barren grey surface and view several strange and interesting geological formations.

        //Temperature Scan
        #Sol_Science_TempScan_MercurySrfLanded = Depending on the orientation of the thermometer, the temperature is either extremely hot or extremely cold.

        //Gravity Scan
        #Sol_Science_GravityScan_MercuryInSpace = The sensor has difficulty mapping the surface of Mercury due to the tidal influence from the Sun.

        //Mystery Goo
        #Sol_Science_MysteryGoo_MercurySrfLanded = The Goo seems to be almost boiling. It writhes around the canister.

        //Mobile Materials Lab
        #Sol_Science_MML_MercurySrfLanded1 = The materials bay bakes in the heat of Mercury's surface. It appears that trace elements are reacting to the samples contained within.
        #Sol_Science_MML_MercurySrfLanded2 = You expose the samples to the high temperatures of Mercury. A lot of them melt in really interesting ways.
    }
    fr-fr
    {
        #Sol_Mercury_name = Mercure^M
    }
    ru
    {
        #Sol_Mercury_name = Меркурий^M
    }
    zh-cn
    {
        #Sol_Mercury_name = 水星（Mercury）
        #Sol_Mercury_desc = 水星是太阳系中的首颗行星，也是太阳系中体积最小、公转速度最快的行星。从地球上看，你或许能在黎明或黄昏时分观测到它。这颗行星的温差极大，从酷热到酷寒不等，绝不是一个适合长时间停留的地方。
        #Sol_Mercury_Biome1 = 低地
        #Sol_Mercury_Biome2 = 内陆
        #Sol_Mercury_Biome3 = 高原
        #Sol_Mercury_Biome4 = 极地环形山
        #Sol_Mercury_Biome5 = 极地低地
        #Sol_Mercury_Biome6 = 平原
        #Sol_Mercury_Biome7 = 古老环形山
        #Sol_Mercury_Biome8 = 年轻环形山

        #Sol_Science_CrewReport_MercurySrfLanded = 是外面很热还是只有我一个人觉得热？
        #Sol_Science_CrewReport_MercuryInSpace = 你俯视着贫瘠的灰色地表，看到了几个奇怪但很有趣的地质结构。

        #Sol_Science_TempScan_MercurySrfLanded = 根据温度计的方向，温度不是“非常热”就是“非常冷”。

        #Sol_Science_GravityScan_MercuryInSpace = 由于受到太阳潮汐的影响，该传感器很难绘制水星表面的地图。

        #Sol_Science_MysteryGoo_MercurySrfLanded = 神秘粘液好像快沸腾了，它在罐子翻滚来翻滚去。

        #Sol_Science_MML_MercurySrfLanded1 = 这些材料在水星表面的高温下炙烤，看来微量元素正与舱内装载的样本发生反应。
        #Sol_Science_MML_MercurySrfLanded2 = 你将样本暴露在水星的高温环境中，其中许多样本以十分有趣的方式熔化了。
    }
}