Localization
{
    en-us
    {
        #Sol_Uranus_name = Uranus
        #Sol_Uranus_desc = The seventh planet in our neighborhood, Uranus, named after the Greek god of the sky, is similar to the relatively nearby planet Neptune. Uranus is sometimes placed in a category separate from gas giants, known as "Ice Giants". Having a similar atmosphere to Jupiter and Saturn, Uranus is different from the two gas giants in that it contains more water, ammonia and methane. It also has the coldest planetary atmosphere, somewhere around 49K.
        #Sol_Uranus_Biome1 = Equatorial Bands
        #Sol_Uranus_Biome2 = North Polar Bands
        #Sol_Uranus_Biome3 = North Temperate Bands
        #Sol_Uranus_Biome4 = North Equatorial Bands
        #Sol_Uranus_Biome5 = South Temperate Bands
        #Sol_Uranus_Biome6 = South Polar Bands

        #Sol_Science_CrewReport_UranusInSpace1 = Hehehe. Uranus.
        #Sol_Science_CrewReport_UranusInSpace2 = Mission control's message has arrived on schedule. The message: "It's pronounced Ooh-Rahn-Us or Ur-In-Is, got it?"
        #Sol_Science_CrewReport_UranusInSpace3 = It's a peaceful looking blue-green planet.
        #Sol_Science_CrewReport_UranusFlyingHigh = You had better be aerobraking here.
        #Sol_Science_CrewReport_UranusFlying1 = Unless you're sitting on top of a huge rocket booster, you're never getting out of Uranus.
        #Sol_Science_CrewReport_UranusFlying2 = Your spacecraft has penetrated deep into Uranus. Ooh-Rahn-Us. Jeez guys, get your head out of the gutter.

        #Sol_Science_EVAReport_UranusFlyingLow = Get. Back. In. The. Ship. Before. You. Freeze. Uranus. Off.
        #Sol_Science_EVAReport_UranusFlyingHigh = RIP you.

        #Sol_Science_TempScan_UranusFlyingLow = Uranus has the absolute coldest atmosphere in the entire solar system, at just over 42 kelvins. Let's hope the spacecraft has a good heater.

        #Sol_Science_MysteryGoo_UranusInSpace = The Goo has become extremely cold.

        #Sol_Science_MML_UranusInSpace = Hehehehe. Uranus.
        #Sol_Science_MML_UranusFlyingHigh = The intense crushing pressure has drastically changed the composition of the materials. Super cooling effects have been observed. The science bay is looking very disgruntled.
        #Sol_Science_MML_UranusFlyingLow = The samples freeze, boil or crumple under the extreme pressures and cold. The visual camera shows a wonderful rainbow of colors before it cuts out.
        #Sol_Science_MML_UranusSrfLanded = You're not sure where the container stops and the samples start anymore...
    }
    fr-fr
    {
        #Sol_Uranus_name = Uranus
        #Sol_Uranus_desc = La septième planète de notre voisinage, Uranus, nommée d'après le dieu grec du ciel, est similaire à la planète Neptune relativement proche. Uranus est parfois placée dans une catégorie distincte des géantes gazeuses, appelée "géantes de glace". Ayant une atmosphère semblable à celle de Jupiter et de Saturne, Uranus s’en distingue par une plus grande teneur en eau, en ammoniaque et en méthane. Elle possède également l’atmosphère planétaire la plus froide, autour de 49 K.

        #Sol_Uranus_Biome1 = Bandes équatoriales
        #Sol_Uranus_Biome2 = Bandes polaires nord
        #Sol_Uranus_Biome3 = Bandes tempérées nord
        #Sol_Uranus_Biome4 = Bandes équatoriales nord
        #Sol_Uranus_Biome5 = Bandes tempérées sud
        #Sol_Uranus_Biome6 = Bandes polaires sud

        #Sol_Science_CrewReport_UranusInSpace1 = Héhéhé. Uranus.
        #Sol_Science_CrewReport_UranusInSpace2 = Le message du centre de contrôle est arrivé comme prévu : "Ça se prononce Ouranous ou Urinous, compris ?"
        #Sol_Science_CrewReport_UranusInSpace3 = C’est une planète paisible d’un bleu-vert apaisant.
        #Sol_Science_CrewReport_UranusFlyingHigh = Il vaudrait mieux que vous fassiez un freinage atmosphérique ici.
        #Sol_Science_CrewReport_UranusFlying1 = À moins d’être assis sur un énorme propulseur, vous ne quitterez jamais Uranus.
        #Sol_Science_CrewReport_UranusFlying2 = Votre vaisseau a pénétré profondément dans Uranus. Ouranous. Sérieusement, les gars, sortez un peu de vos pensées douteuses.

        #Sol_Science_EVAReport_UranusFlyingLow = Rentre. Dans. Le. Vaisseau. Avant. De. Geler. Ton. Uranus.
        #Sol_Science_EVAReport_UranusFlyingHigh = Repose en paix.

        #Sol_Science_TempScan_UranusFlyingLow = Uranus possède l’atmosphère la plus froide de tout le système solaire, à un peu plus de 42 kelvins. Espérons que le chauffage du vaisseau est performant.

        #Sol_Science_MysteryGoo_UranusInSpace = La substance gluante est devenue extrêmement froide.

        #Sol_Science_MML_UranusInSpace = Héhéhéhé. Uranus.
        #Sol_Science_MML_UranusFlyingHigh = La pression intense a drastiquement modifié la composition des matériaux. Des effets de super-refroidissement ont été observés. Le laboratoire scientifique a l’air très mécontent.
        #Sol_Science_MML_UranusFlyingLow = Les échantillons gèlent, bouillent ou se froissent sous la pression et le froid extrêmes. La caméra montre un magnifique arc-en-ciel avant de s’éteindre.
        #Sol_Science_MML_UranusSrfLanded = Difficile de dire où s’arrête le conteneur et où commencent les échantillons...
    }
    ru
    {
        #Sol_Uranus_name = Уран
        #Sol_Uranus_desc = Седьмая планета в нашей звёздной окрестности, Уран, названная в честь древнегреческого бога неба, во многом схожа с ближайшей к нему планетой — Нептуном. Уран иногда выделяют в отдельную категорию от газовых гигантов, называемую «ледяные гиганты». Его атмосфера похожа на атмосферу Юпитера и Сатурна, но отличается большим содержанием воды, аммиака и метана. Уран также обладает самой холодной атмосферой среди планет — около 49 K.

        #Sol_Uranus_Biome1 = Экваториальные полосы
        #Sol_Uranus_Biome2 = Северные полярные полосы
        #Sol_Uranus_Biome3 = Северные умеренные полосы
        #Sol_Uranus_Biome4 = Северные экваториальные полосы
        #Sol_Uranus_Biome5 = Южные умеренные полосы
        #Sol_Uranus_Biome6 = Южные полярные полосы

        #Sol_Science_CrewReport_UranusInSpace1 = Хе-хе-хе. Уран.
        #Sol_Science_CrewReport_UranusInSpace2 = Сообщение от центра управления пришло по расписанию: "Произносится как У-ран-ус или Юр-и-нэс, поняли?"
        #Sol_Science_CrewReport_UranusInSpace3 = Это мирная голубовато-зелёная планета.
        #Sol_Science_CrewReport_UranusFlyingHigh = Лучше бы вы сейчас тормозили в атмосфере.
        #Sol_Science_CrewReport_UranusFlying1 = Если только вы не сидите на гигантской ракете, вам не выбраться из Урана.
        #Sol_Science_CrewReport_UranusFlying2 = Ваш корабль проник глубоко в Уран. У-ран-ус. Господи, ребята, выбросьте пошлости из головы.

        #Sol_Science_EVAReport_UranusFlyingLow = Назад. В. Корабль. Пока. Ты. Не. Отморозил. Свой. Уран.
        #Sol_Science_EVAReport_UranusFlyingHigh = Покойся с миром.

        #Sol_Science_TempScan_UranusFlyingLow = Уран обладает самой холодной атмосферой во всей Солнечной системе — чуть выше 42 кельвинов. Надеемся, у корабля хороший обогреватель.

        #Sol_Science_MysteryGoo_UranusInSpace = Слизь стала чрезвычайно холодной.

        #Sol_Science_MML_UranusInSpace = Хе-хе-хе-хе. Уран.
        #Sol_Science_MML_UranusFlyingHigh = Из-за невероятного давления состав материалов сильно изменился. Наблюдаются эффекты сверхохлаждения. Научный отсек выглядит крайне недовольным.
        #Sol_Science_MML_UranusFlyingLow = Образцы замерзают, кипят или сморщиваются из-за экстремального давления и холода. Камера показывает прекрасную радугу, а затем отключается.
        #Sol_Science_MML_UranusSrfLanded = Невозможно понять, где заканчивается контейнер и начинаются образцы...
    }
    zh-cn
    {
        #Sol_Uranus_name = 天王星（Uranus）
        #Sol_Uranus_desc = 天王星是太阳系第七颗行星，以希腊神话中的天空之神命名，与邻近的海王星特性相似。它有时被归类为独立于气态巨行星的“冰巨行星”——虽然大气层与木星、土星类似，但天王星含有更多水、氨和甲烷，且拥有太阳系最冷的行星大气层，温度约为49开尔文（约-224℃）。
        #Sol_Uranus_Biome1 = 赤道带
        #Sol_Uranus_Biome2 = 北极带
        #Sol_Uranus_Biome3 = 北温带
        #Sol_Uranus_Biome4 = 北赤道带
        #Sol_Uranus_Biome5 = 南温带
        #Sol_Uranus_Biome6 = 南极带

        #Sol_Science_CrewReport_UranusInSpace1 = 嘿嘿嘿，天王星（Uranus）～
        #Sol_Science_CrewReport_UranusInSpace2 = 任务控制中心的消息准时送达，内容是：“正确发音是‘乌鲁纳斯’（Ooh-Rahn-Us）或‘尤里纳斯’（Ur-In-Is），记住了吗？”
        #Sol_Science_CrewReport_UranusInSpace3 = 这颗蓝绿色的行星看起来格外宁静。
        #Sol_Science_CrewReport_UranusFlyingHigh = 你最好只是来这里做大气制动的。
        #Sol_Science_CrewReport_UranusFlying1 = 除非你坐在一个巨型火箭助推器上，否则你永远别想“逃出天王星（Uranus）”。
        #Sol_Science_CrewReport_UranusFlying2 = 你的航天器已经深入天王星（Uranus）内部了——是“乌鲁纳斯”啦！拜托各位，别想歪了。

        #Sol_Science_EVAReport_UranusFlyingLow = 赶！紧！回！船！里！去！再晚点，你身上的“天王星（Uranus）”都要冻掉了——（正经脸）是乌鲁纳斯啦！
        #Sol_Science_EVAReport_UranusFlyingHigh = 一路走好，安息吧。

        #Sol_Science_TempScan_UranusFlyingLow = 天王星拥有太阳系绝对最冷的大气层，温度仅略高于42开尔文（约-231℃）。希望航天器的加热器够给力。

        #Sol_Science_MysteryGoo_UranusInSpace = 神秘黏液变得极度冰冷。

        #Sol_Science_MML_UranusInSpace = 嘿嘿嘿嘿，天王星（Uranus）～
        #Sol_Science_MML_UranusFlyingHigh = 巨大的压力彻底改变了材料的成分，观察到了超低温冷却效应。科学舱看起来“一脸不爽”。
        #Sol_Science_MML_UranusFlyingLow = 在极端压力和低温下，样本要么冻结、要么沸腾、要么碎裂。视觉摄像机在失灵前，捕捉到了一道绚丽的彩虹色光芒。
        #Sol_Science_MML_UranusSrfLanded = 你已经分不清容器和样本的边界了……
    }
}