Localization
{
    en-us
    {
        #Sol_Ganymede_name = Ganymede
        #Sol_Ganymede_desc = The largest moon in our Solar System, Ganymede is the third Galilean moon around Jupiter. Ganymede has a liquid iron core which produces a unique, yet meager, magnetosphere.
        #Sol_Ganymede_Biome1 = Lowlands
        #Sol_Ganymede_Biome2 = Midlands
        #Sol_Ganymede_Biome3 = Highlands
        #Sol_Ganymede_Biome4 = Cryovolcanic Ice
        #Sol_Ganymede_Biome5 = Tectonic Deformation
        #Sol_Ganymede_Biome6 = Poles
        #Sol_Ganymede_Biome7 = Craters
        #Sol_Ganymede_Biome8 = Gilgamesh Basin

        #Sol_Science_CrewReport_GanymedeInSpace = The biggest moon in the solar system. Here it is. Ice and rock and plenty of it.
        #Sol_Science_CrewReport_GanymedeSrfLanded = You think about ice fishing here, but then try to find Europa in the sky out the window instead.

        #Sol_Science_EVAReport_GanymedeSrfLanded = The brown surface is hard, but at least the gravity is high enough to keep manoeuvring from being too difficult.
    }
    fr-fr
    {
        #Sol_Ganymede_name = Ganymède^M
    }
    ru
    {
        #Sol_Ganymede_name = Ганимед^M
    }
    zh-cn
    {
        #Sol_Ganymede_name = 木卫三（Ganymede）
        #Sol_Ganymede_desc = 木卫三是太阳系中最大的卫星，也是木星的第三颗伽利略卫星。它拥有液态铁核，由此产生了独特但微弱的磁层。
        #Sol_Ganymede_Biome1 = 低地
        #Sol_Ganymede_Biome2 = 内陆
        #Sol_Ganymede_Biome3 = 高地
        #Sol_Ganymede_Biome4 = 冰火山冰
        #Sol_Ganymede_Biome5 = 构造变形区
        #Sol_Ganymede_Biome6 = 极地
        #Sol_Ganymede_Biome7 = 陨石坑
        #Sol_Ganymede_Biome8 = 吉尔伽美什盆地

        #Sol_Science_CrewReport_GanymedeInSpace = 太阳系最大的卫星，就在眼前——冰与岩石遍布，储量丰富。
        #Sol_Science_CrewReport_GanymedeSrfLanded = 你本来想在这里冰钓，但转念一想，还是转头望向窗外，试图寻找木卫二的身影。

        #Sol_Science_EVAReport_GanymedeSrfLanded = 棕色的地表十分坚硬，但好在重力足够大，让移动操作不会太困难。


    }
}