Localization
{
    en-us
    {
        #Sol_Saturn_name = Saturn
        #Sol_Saturn_desc = The sixth planet in our neighborhood, Saturn is named after the Roman god of Agriculture and is a gas giant with a unique ring surrounding it. Under the gassy layer composed largely of hydrogen, there is a rocky core with a very hot interior.

        #Sol_Saturn_Biome1 = Equatorial Bands
        #Sol_Saturn_Biome2 = North Pole Storms
        #Sol_Saturn_Biome3 = North Temperate Bands
        #Sol_Saturn_Biome4 = North Equatorial Bands
        #Sol_Saturn_Biome5 = South Equatorial Bands
        #Sol_Saturn_Biome6 = South Temperate Bands
        #Sol_Saturn_Biome7 = South Pole Storms

        #Sol_Science_CrewReport_SaturnInSpace = Those are some neat rings there.
        #Sol_Science_CrewReport_SaturnFlyingHigh = A rather sedate atmosphere for braking, you might manage to stay awake this ti...
        #Sol_Science_CrewReport_SaturnFlyingLow = You may not be coming home.

        #Sol_Science_EVAReport_SaturnFlyingLow = Get. Back. In. The. Ship.
        #Sol_Science_EVAReport_SaturnInSpaceLow = You fly among the rings. They tumble around, and you try your best not to be hit by any debris.
        #Sol_Science_EVAReport_SaturnInSpaceHigh = Beyoncé approved.
        #Sol_Science_EVAReport_SaturnFlyingHigh = You're going to die soon.

        #Sol_Science_GravityScan_SaturnInSpace = It's almost as if there's an entire moon's worth of mass floating above Saturn's equator.

        #Sol_Science_MysteryGoo_SaturnInSpace = The goo spins up and breaks several bits off into its own ring system.

        #Sol_Science_MML_SaturnInSpaceLow = The materials are being punched by ring material. The bay now has one or two extra holes.
        #Sol_Science_MML_SaturnFlyingHigh = The intense crushing pressure has drastically changed the composition of the materials. Super heating and ablation effects have been observed. The science bay is looking very disgruntled.
        #Sol_Science_MML_SaturnFlyingLow = The samples burn, boil or crumple under the extreme pressures and heat. The visual camera shows a wonderful rainbow of colors before it cuts out.
        #Sol_Science_MML_SaturnSrfLanded = You're not sure where the container stops and the samples start anymore...
    }
    fr-fr
    {
        #Sol_Saturn_name = Saturne^M
    }
    ru
    {
        #Sol_Saturn_name = Сатурн^M
    }
    zh-cn
    {
        #Sol_Saturn_name = 土星
        #Sol_Saturn_desc = 在我们附近的第六颗行星, 以罗马农业之神(Saturn)的名字命名, 是一颗气态巨行星, 其周围有一个独特的行星环. 在主要由氢组成的气体层下面, 有一个内部温度非常高的岩石核心.
        #Sol_Saturn_Biome1 = 赤道带
        #Sol_Saturn_Biome2 = 北极风暴
        #Sol_Saturn_Biome3 = 北温带
        #Sol_Saturn_Biome4 = 北赤道带
        #Sol_Saturn_Biome5 = 南赤道带
        #Sol_Saturn_Biome6 = 南温带
        #Sol_Saturn_Biome7 = 南极风暴

        #Sol_Science_CrewReport_SaturnInSpace = 那里有一些漂亮的行星环.
        #Sol_Science_CrewReport_SaturnFlyingHigh = 一个相当安静的大气制动的大气, 你可以设法保持清醒, 这一次你不会再...
        #Sol_Science_CrewReport_SaturnFlyingLow = 你可能回不了家了.

        #Sol_Science_EVAReport_SaturnFlyingLow = 马.上.回.来.
        #Sol_Science_EVAReport_SaturnInSpaceLow = 你在土星环间飞翔. 那些碎片在你四周, 你尽量操作飞船不被任何碎片击中.
        #Sol_Science_EVAReport_SaturnInSpaceHigh = 超出批准范围.
        #Sol_Science_EVAReport_SaturnFlyingHigh = 你很快就会死的.

        #Sol_Science_GravityScan_SaturnInSpace = 就好像有整个月球的质量漂浮在土星的赤道上.

        #Sol_Science_MysteryGoo_SaturnInSpace = 黏液物质旋转起来, 把一些分离出来的液滴形成了自己的环状系统.

        #Sol_Science_MML_SaturnInSpaceLow = 这些材料被土星环的物质冲击.材料舱现在破了一个或两个洞.
        #Sol_Science_MML_SaturnFlyingHigh = 巨大的压力使材料的结构发生了显著改变。我们观测到了过热和烧蚀现象。科学舱看上去十分不满。
        #Sol_Science_MML_SaturnFlyingLow = 样本在极端压力和温度下燃烧、沸腾或皱成一团。视觉摄像头被切断前，显现出美丽的彩虹色。
        #Sol_Science_MML_SaturnSrfLanded = 你无法确定哪里是容器，哪里是样本了…
    }
}