Localization
{
    en-us
    {
        #Sol_Europa_name = Europa
        #Sol_Europa_desc = The smallest of the four Galilean moons but only slightly smaller than our Moon, Europa is a rocky moon with a surface mostly made up of water ice. It is believed that under this icy surface a water ocean exists, possibly holding life within the depths.
        #Sol_Europa_Biome1 = Ridged Plains
        #Sol_Europa_Biome2 = Argadnel Regio
        #Sol_Europa_Biome3 = Chaotic Plains
        #Sol_Europa_Biome4 = Crosscut Plains
        #Sol_Europa_Biome5 = Lineaments
        #Sol_Europa_Biome6 = Craters

        #Sol_Science_CrewReport_EuropaInSpace = You look down at the cracked, icy terrain of Europa, dreaming of what wonders lie beneath the surface.
        #Sol_Science_CrewReport_EuropaSrfLanded = You want to go ice fishing here.

        #Sol_Science_EVAReport_EuropaSrfLanded1 = You contemplate performing an ice slide. It probably wouldn't work.
        #Sol_Science_EVAReport_EuropaSrfLanded2 = You came here to go swimming, so where the heck is your giant ice-crust drill?

        #Sol_Science_SurfaceSample_EuropaSrfLanded1 = The surface consists of ice, dirt, and more ice.
        #Sol_Science_SurfaceSample_EuropaSrfLanded2 = Oh if only you had a way of drilling deeper into the ice to sample the underground ocean!
        #Sol_Science_SurfaceSample_EuropaSrfLanded3 = You chip away the frozen surface and deposit some of the white and brown surface into a container.
        #Sol_Science_SurfaceSample_EuropaSrfLandedLineaments = There is a significant amount of complex organic molecules in the ice!

        #Sol_Science_TempScan_EuropaSrfLanded = While the surface is pitifully cold, in the tidally heated interior of the planet the water may very well be liquid.

        #Sol_Science_SeismicScan_EuropaSrfLanded = There are a few Europaquakes. The moon is cryovolcanic.

        #Sol_Science_GravityScan_EuropaInSpace = Scanning from orbit hints at the internal makeup of Europa.

        #Sol_Science_MysteryGoo_EuropaSrfLanded = The goo seems to have grown fins.

        #Sol_Science_MML_EuropaSrfLanded = The sample container door freezes up, before continuing to open. A thin coating forms on the surface of the samples.
    }
    fr-fr
    {
        #Sol_Europa_name = Europe^F

        #Sol_Europa_name = Европа^F

        #Sol_Europa_name = 木卫二
        #Sol_Europa_desc = 木卫二是伽利略四颗卫星中最小的一颗, 但比我们的月球稍小一点, 它是一颗岩石卫星, 表面大部分由水冰构成. 据说, 在这个冰冷的地表下, 存在一个全是水的海洋, 可能在其深处会存在生命.
        #Sol_Europa_Biome1 = 平原区
        #Sol_Europa_Biome2 = Argadnel区
        #Sol_Europa_Biome3 = Chaotic平原
        #Sol_Europa_Biome4 = Crosscut平原
        #Sol_Europa_Biome5 = 线状区
        #Sol_Europa_Biome6 = 环形山

        #Sol_Science_CrewReport_EuropaInSpace = 你低头看着木卫二破碎、冰冷的地形, 梦想着地表下会有什么奇迹.
        #Sol_Science_CrewReport_EuropaSrfLanded = 你想去冰面上钓鱼.

        #Sol_Science_EVAReport_EuropaSrfLanded1 = 你打算表演一个冰滑梯. 可能行不通.
        #Sol_Science_EVAReport_EuropaSrfLanded2 = 你如果是来游泳的, 那你的巨型破冰钻呢?

        #Sol_Science_SurfaceSample_EuropaSrfLanded1 = 表面由冰、污垢和更多的冰组成.
        #Sol_Science_SurfaceSample_EuropaSrfLanded2 = 哦, 要是你有办法在冰里钻得更深些, 取样地下的海洋该多好啊!
        #Sol_Science_SurfaceSample_EuropaSrfLanded3 = 你把冰冻的表面凿开, 把一些白色和棕色的地面沉积物放到一个容器里.
        #Sol_Science_SurfaceSample_EuropaSrfLandedLineaments = 冰里有大量的复杂有机分子!

        #Sol_Science_TempScan_EuropaSrfLanded = 虽然火星表面冷得可怜, 但在星球内部潮汐加热的情况下, 水很可能是液态的.

        #Sol_Science_SeismicScan_EuropaSrfLanded = 木卫二发生了几次地震. 这颗卫星是个冰火山.

        #Sol_Science_GravityScan_EuropaInSpace = 从轨道上扫描透露了少许木卫二可能的内部结构.

        #Sol_Science_MysteryGoo_EuropaSrfLanded = 黏液物质好像长了鳍.

        #Sol_Science_MML_EuropaSrfLanded = 材料舱门在被打开之前就冻结了. 样品表面形成一层薄薄的涂层.
    }
}