Localization
{
    en-us
    {
        #Sol_Tethys_name = Tethys
        #Sol_Tethys_desc = Tethys is a mid-sized moon of Saturn about 1,060 km across and is named after the titan Tethys of Greek mythology.

        #Sol_Tethys_Biome1 = Flatlands
        #Sol_Tethys_Biome2 = Northern Polar Region
        #Sol_Tethys_Biome3 = Southern Polar Region
        #Sol_Tethys_Biome4 = Odysseus
        #Sol_Tethys_Biome5 = Ithaca Chasma
        #Sol_Tethys_Biome6 = Craterous

        #Sol_Science_CrewReport_TethysInSpace = An uninteresting, basic, white moon. Just like your cousin, except for the moon part. You know the one. The one who hangs out at Starbucks and uses hashtags too much. Everyone has that one cousin. Or friend, or significant other, or sibling. The point is, Tethys is the moon equivalent of whoever that person is.
    }
    fr-fr
    {
        #Sol_Tethys_name = Téthys^F
    }
    ru
    {
        #Sol_Tethys_name = Тефия^F
    }
    zh-cn
    {
        #Sol_Tethys_name = 土卫三（Tethys）
        #Sol_Tethys_desc = 土卫三是土星的一颗中型卫星，直径约1060公里，以希腊神话中的泰坦女神忒堤斯命名。
        #Sol_Tethys_Biome1 = 平原
        #Sol_Tethys_Biome2 = 北极区域
        #Sol_Tethys_Biome3 = 南极区域
        #Sol_Tethys_Biome4 = 奥德修斯陨石坑
        #Sol_Tethys_Biome5 = 伊萨卡峡谷
        #Sol_Tethys_Biome6 = 多陨石坑区域

        #Sol_Science_CrewReport_TethysInSpace = 一颗无趣、普通的白色卫星。就像你的某个亲戚——除了它是颗卫星之外。你懂的，就是那个总泡在星巴克、还老爱用标签的家伙。每个人都有这么个亲戚：要么是亲戚，要么是朋友、伴侣、兄弟姐妹。关键是，土卫三就是卫星界的“这类人”。
    }
}