Localization
{
    en-us
    {
        #Sol_Nix_name = Nix
              #Sol_Nix_desc = Nix is a natural satellite of Pluto, with a diameter of 49.8 km (30.9 mi) across its longest dimension. It was discovered along with Pluto's outermost moon Hydra on 15 May 2005 by astronomers using the Hubble Space Telescope, and was named after Nyx, the Greek goddess of the night. Nix is the third moon of Pluto by distance, orbiting between the moons Styx and Kerberos.
              #Sol_Nix_Biome1 = Highlands
              #Sol_Nix_Biome2 = Midlands
              #Sol_Nix_Biome3 = Lowlands

        #Sol_Science_GravityScan_NixInSpace = Nix seems to be rotating erratically due to influence from Pluto and Charon.
    }
    fr-fr
    {
        #Sol_Nix_name = Nix
              #Sol_Nix_desc = Nix est un satellite naturel de Pluton, d’un diamètre de 49,8 km dans sa plus grande dimension. Elle a été découverte en même temps que l’astre le plus éloigné de Pluton, Hydra, le 15 mai 2005 par des astronomes utilisant le télescope spatial Hubble, et a été nommée d’après Nyx, la déesse grecque de la nuit. Nix est la troisième lune de Pluton par sa distance, orbitant entre Styx et Kerberos.
              #Sol_Nix_Biome1 = Hautes-terres
              #Sol_Nix_Biome2 = Régions moyennes
              #Sol_Nix_Biome3 = Basses-terres

        #Sol_Science_GravityScan_NixInSpace = Nix semble tourner de façon irrégulière sous l’influence de Pluton et Charon.
    }
    ru
    {
        #Sol_Nix_name = Никта
              #Sol_Nix_desc = Никта — естественный спутник Плутона диаметром 49,8 км в наибольшем измерении. Она была открыта вместе с самой удалённой луной Плутона, Гидрой, 15 мая 2005 года астрономами с помощью космического телескопа «Хаббл». Названа в честь Нюкты, греческой богини ночи. Никта является третьей луной Плутона по удалённости, вращаясь между Стиксом и Кербером.
              #Sol_Nix_Biome1 = Высокогорья
              #Sol_Nix_Biome2 = Средние регионы
              #Sol_Nix_Biome3 = Низины

        #Sol_Science_GravityScan_NixInSpace = Никта, похоже, вращается хаотично из-за влияния Плутона и Харона.
    }
    zh-cn
    {
        #Sol_Nix_name = 尼克斯
              #Sol_Nix_desc = 尼克斯是冥王星的一颗天然卫星，最大直径约为 49.8 公里（30.9 英里）。它与冥王星最外侧的卫星许德拉一起于 2005 年 5 月 15 日被天文学家利用哈勃空间望远镜发现，并以希腊夜之女神 Nyx 命名。尼克斯是冥王星按距离排列的第三颗卫星，轨道位于冥河（Styx）与刻耳柏洛斯（Kerberos）之间。
              #Sol_Nix_Biome1 = 高地
              #Sol_Nix_Biome2 = 中部区域
              #Sol_Nix_Biome3 = 低地

        #Sol_Science_GravityScan_NixInSpace = 尼克斯似乎因冥王星和卡戎的影响而出现不规则自转。
    }
}
