Localization
{
    en-us
    {
        #Sol_Enceladus_name = Enceladus
        #Sol_Enceladus_desc = Enceladus is the sixth-largest moon of Saturn, covered by fresh, clean ice, where the surface temperature at noon only reaches 75 K.  Its notable features include water-rich plumes venting from cryovolcanoes in the south polar region.

        #Sol_Enceladus_Biome1 = Flatlands
        #Sol_Enceladus_Biome2 = Northern Polar Region
        #Sol_Enceladus_Biome3 = Southern Polar Region
        #Sol_Enceladus_Biome4 = Craterous Regions

        #Sol_Science_CrewReport_EnceladusInSpace1 = You peer down at the extremely white surface, and dream of what waits below it.
        #Sol_Science_CrewReport_EnceladusInSpace2 = Every realized that all three celestial bodies in the Solar System that are likely to have water in or on them have names that start with "E"?
        #Sol_Science_CrewReport_EnceladusSrfLanded = You could settle for ice fishing here if it doesn't go well on Europa.

        #Sol_Science_SurfaceSample_EnceladusSrfLandedSouthernPolarRegion = There's some complex organic molecules in the ice.

        #Sol_Science_SeismicScan_EnceladusSrfLanded = This moon is cryovolcanic and is spewing its insides into space.
    }
    fr-fr
    {
        #Sol_Enceladus_name = Encelade^M
    }
    ru
    {
        #Sol_Enceladus_name = Энцелад^M
    }
    zh-cn
    {
        #Sol_Enceladus_name = 土卫二（Enceladus）
        #Sol_Enceladus_desc = 土卫二是土星第六大卫星，表面覆盖着纯净的新鲜冰层，正午时分的表面温度仅为75开尔文（约-198℃）。其最显著的特征是南极区域的冰火山会喷出富含水的羽流。
        #Sol_Enceladus_Biome1 = 平原
        #Sol_Enceladus_Biome2 = 北极区域
        #Sol_Enceladus_Biome3 = 南极区域
        #Sol_Enceladus_Biome4 = 多陨石坑区域

        #Sol_Science_CrewReport_EnceladusInSpace1 = 你俯瞰着这极致洁白的地表，畅想冰层之下藏着的未知。
        #Sol_Science_CrewReport_EnceladusInSpace2 = 你有没有发现，太阳系中三个最有可能存在水（无论地表还是内部）的天体，名字都以“E”开头？
        #Sol_Science_CrewReport_EnceladusSrfLanded = 如果在木卫二的冰钓计划不顺，在这里定居下来钓鱼也不错。

        #Sol_Science_SurfaceSample_EnceladusSrfLandedSouthernPolarRegion = 冰中检测到了复杂有机分子！

        #Sol_Science_SeismicScan_EnceladusSrfLanded = 这颗卫星存在冰火山活动，正将内部物质喷向太空。
    }
}