Localization
{
    en-us
    {
        #Sol_Jupiter_name = Jupiter
        #Sol_Jupiter_desc = The largest planet in our solar system, the gas giant Jupiter. This planet alone is two and a half times the mass of all of the other planets in the Solar System combined. Made up largely of hydrogen and helium with a relatively mysterious rocky core of heavy elements, Jupiter bears a unique and beautiful cosmic painting of various layers with a prominent and awe-inspiring storm that is said to have existed possibly over three-centuries. Jupiter has at least sixty-seven moons counting the four large "Galilean Moons", one of which has a greater diameter than the first planet Mercury.
        #Sol_Jupiter_Biome1 = Equatorial Bands
        #Sol_Jupiter_Biome2 = Great Red Spot
        #Sol_Jupiter_Biome3 = South Temperate Bands
        #Sol_Jupiter_Biome4 = South Polar Bands
        #Sol_Jupiter_Biome5 = North Temperate Bands
        #Sol_Jupiter_Biome6 = North Polar Bands

        #Sol_Science_CrewReport_JupiterInSpaceHigh = You see the beautiful brown and white cloud bands and zones of Jupiter, and view the moons in their slow dance around Jupiter.
        #Sol_Science_CrewReport_JupiterInSpaceLow = Jupiter appears to be absolutely huge. You can barely see the curvature.
        #Sol_Science_CrewReport_JupiterFlyingHigh = One of the most badS places to aerobrake in the entire system. You are pressed back into your seat, and are very nearly going to pass out, but you're better than th...
        #Sol_Science_CrewReport_JupiterFlyingLow = What the HECK are you doing that deep in the atmosphere?

        #Sol_Science_EVAReport_JupiterFlyingLow = Get. Back. In. The. Ship.
        #Sol_Science_EVAReport_JupiterFlyingHigh = As you say your last prayers and/or pretend that you believed in a god this whole time, you contemplate death for a few short moments before you are no longer capable of contemplation.

        #Sol_Science_GravityScan_JupiterInSpace = The sensor scans the intricate gravitational interactions between the Jovain Moons.

        #Sol_Science_AtmoAnalysis_JupiterFlyingHigh = The clouds are made from Ammonia ice, 

        #Sol_Science_MysteryGoo_JupiterInSpace1 = The goo forms a flat, black shape.
        #Sol_Science_MysteryGoo_JupiterInSpace2 = The goo swirls into several brown bands and white zones.

        #Sol_Science_MML_JupiterInSpaceHigh = The extreme radiation from Jupiter's magnetic field seems to have caused some of the samples to glow violently green.
        #Sol_Science_MML_JupiterInSpaceLow = The computer gave an odd report no matter how many times we sent the request. Open the sample bay doors... "I'm sorry, I'm afraid I can't let you do that" was the only reply. The doors did open very promptly when we opened the fusebox panel. Very curious.		
        #Sol_Science_MML_JupiterFlyingHigh = The intense crushing pressure has drastically changed the composition of the materials. Super heating and ablation effects have been observed. The science bay is looking very disgruntled.		
        #Sol_Science_MML_JupiterFlyingLow = The samples burn, boil or crumple under the extreme pressures and heat. The visual camera shows a wonderful rainbow of colors before it cuts out.		
        #Sol_Science_MML_JupiterSrfLanded = You're not sure where the container stops and the samples start anymore...
    }
}