Localization
{
    en-us
    {
        #Sol_Hyperion_name = Hyperion
        #Sol_Hyperion_desc = Hyperion, also known as Saturn VII, is the eighth-largest moon of Saturn. It is distinguished by its highly irregular shape, chaotic rotation, low density, and its unusual sponge-like appearance. It was the first non-rounded moon to be discovered.

        #Sol_Hyperion_Biome1 = Meri
        #Sol_Hyperion_Biome2 = Bahloo
        #Sol_Hyperion_Biome3 = Jarilo
        #Sol_Hyperion_Biome4 = Bond-Lassell Dorsum
        #Sol_Hyperion_Biome5 = Helios
        #Sol_Hyperion_Biome6 = Surface
    }
    fr-fr
    {
        #Sol_Hyperion_name = Hypérion
        #Sol_Hyperion_desc = Hypérion, également connu sous le nom de Saturne VII, est le huitième plus grand satellite de Saturne. Il se distingue par sa forme très irrégulière, sa rotation chaotique, sa faible densité et son apparence étrange semblable à une éponge. Ce fut la première lune non sphérique découverte.

        #Sol_Hyperion_Biome1 = Meri
        #Sol_Hyperion_Biome2 = Bahloo
        #Sol_Hyperion_Biome3 = Jarilo
        #Sol_Hyperion_Biome4 = Dorsum Bond-Lassell
        #Sol_Hyperion_Biome5 = Hélios
        #Sol_Hyperion_Biome6 = Surface
    }
    ru
    {
        #Sol_Hyperion_name = Гиперион
        #Sol_Hyperion_desc = Гиперион, также известный как Сатурн VII, — восьмой по величине спутник Сатурна. Он отличается своей крайне неправильной формой, хаотичным вращением, низкой плотностью и необычным внешним видом, напоминающим губку. Это была первая обнаруженная несферическая луна.

        #Sol_Hyperion_Biome1 = Мери
        #Sol_Hyperion_Biome2 = Балу
        #Sol_Hyperion_Biome3 = Ярило
        #Sol_Hyperion_Biome4 = Хребет Бонд-Ласселла
        #Sol_Hyperion_Biome5 = Гелиос
        #Sol_Hyperion_Biome6 = Поверхность
    }
    zh-cn
    {
        #Sol_Hyperion_name = 亥伯龙
        #Sol_Hyperion_desc = 亥伯龙（土卫七）是土星的第八大卫星，以其高度不规则的形状、混沌的自转、低密度以及独特的海绵状外观著称。它是人类发现的首颗非球形卫星。

        #Sol_Hyperion_Biome1 = 梅里
        #Sol_Hyperion_Biome2 = 巴鲁
        #Sol_Hyperion_Biome3 = 雅里洛
        #Sol_Hyperion_Biome4 = 邦德-拉塞尔山脊
        #Sol_Hyperion_Biome5 = 赫利俄斯
        #Sol_Hyperion_Biome6 = 地表
    }
}