Localization
{
    en-us
    {
        #Sol_Pluto_name = Pluto
        #Sol_Pluto_desc = Recently removed from the planetary list, Pluto has been dubbed a "minor planet." It is the largest object in the Kuiper belt and the second most massive known dwarf planet. Pluto is mostly comprised of rock and ice and is quite small.
        #Sol_Pluto_Biome1 = Surface
        #Sol_Pluto_Biome2 = al-Idrisi Montes
        #Sol_Pluto_Biome3 = Zheng He Montes
        #Sol_Pluto_Biome4 = Baré Montes
        #Sol_Pluto_Biome5 = Hillary Montes
        #Sol_Pluto_Biome6 = Norgay Montes
        #Sol_Pluto_Biome7 = Sputnik Planum
        #Sol_Pluto_Biome8 = Burney Crater
        #Sol_Pluto_Biome9 = Simonelli Crater
        #Sol_Pluto_Biome10 = Guest Crater
        #Sol_Pluto_Biome11 = Harrington Crater
        #Sol_Pluto_Biome12 = Elliot Crater
        #Sol_Pluto_Biome13 = K. Edgeworth Crater
        #Sol_Pluto_Biome14 = Oort Crater
        #Sol_Pluto_Biome15 = Tartarus Dorsa
        #Sol_Pluto_Biome16 = Hayabusa Terra
        #Sol_Pluto_Biome17 = Pioneer Terra
        #Sol_Pluto_Biome18 = Voyager Terra
        #Sol_Pluto_Biome19 = Viking Terra
        #Sol_Pluto_Biome20 = Venera Terra

        #Sol_Science_CrewReport_PlutoInSpace1 = Pluto and Charon always seem to be together. It's like a tremendously slow dance.
        #Sol_Science_CrewReport_PlutoInSpace2 = You get some great looks at the fascinatingly swirly and irregular surface of Pluto.
        #Sol_Science_CrewReport_PlutoInSpace3 = You don't care if it's a planet or a dwarf planet. People are always too caught up about Pluto's planethood, so they never get around to looking at how cool it is.
        #Sol_Science_CrewReport_PlutoInSpace4 = Pluto loves you. You can tell, can't you?
        #Sol_Science_CrewReport_PlutoInSpace5 = Charon looks particularly lovely this time of year.
        #Sol_Science_CrewReport_PlutoSrfLanded1 = "It's not a real planet" they said in kindergarten. Well here you are, pushing the limits of the human lifespan, just so that you can rub this achievement in little Bobby Tables' face!
        #Sol_Science_CrewReport_PlutoSrfLanded2 = The sun is not much more than another star at this distance.

        #Sol_Science_EVAReport_PlutoSrfLanded1 = You've been thinking about your first words on the surface of Pluto for decades. You think you've finally got it. "Hello is am a button face." Nailed it.
        #Sol_Science_EVAReport_PlutoInSpace = You may be a tad bit senile.
        #Sol_Science_EVAReport_PlutoSrfLanded2 = You are officially the oldest human to set foot on the surface of another world.

        #Sol_Science_SurfaceSample_PlutoSrfLanded = You barely remember why you left the ship. Something to do with surface samples? Oh yes, that's it. You fiddle around for the sample collector and find all sorts of non-water ices.
        #Sol_Science_TempScan_PlutoSrfLanded = As one might expect, it is quite cold here.
        #Sol_Science_GravityScan_PlutoSrfLanded = There is an extreme tidal effect from Charon skewing the results.

        #Sol_Science_MysteryGoo_PlutoSrfLandedSputnikPlanum = The Goo seems to have formed a perfectly functional human heart.
        #Sol_Science_MysteryGoo_PlutoInSpace = While observing the canister, you feel as though something is looking back at you from the shadows of the container.

        #Sol_Science_MML_PlutoInSpace1 = 010000100110100101101110011000010111001001111001
        #Sol_Science_MML_PlutoInSpace2 = The samples show little change, except for the sun-sensitive algae which is no longer glowing in reaction to the Sun.
        #Sol_Science_MML_PlutoSrfLanded1 = You lost your glasses, and without them you can't see the computer report. Mission control remarks that the small text is a terrible feature of decades-old computers.
        #Sol_Science_MML_PlutoSrfLanded2 = Although not much happens to the samples, your bio monitor seems to be flatlining for a few seconds. Are you finally dying? After all this time? You see you accidentally unplugged the bio monitor. Pluto won't grab you into the underworld yet!
    }
    fr-fr
    {
        #Sol_Pluto_name = Pluton
        #Sol_Pluto_desc = Récemment retiré de la liste des planètes, Pluton a été classé comme « planète naine ». C’est le plus grand objet de la ceinture de Kuiper et la deuxième planète naine la plus massive connue. Pluton est principalement composée de roche et de glace et est relativement petite.
        #Sol_Pluto_Biome1 = Surface
        #Sol_Pluto_Biome2 = Montes al-Idrisi
        #Sol_Pluto_Biome3 = Montes Zheng He
        #Sol_Pluto_Biome4 = Montes Baré
        #Sol_Pluto_Biome5 = Montes Hillary
        #Sol_Pluto_Biome6 = Montes Norgay
        #Sol_Pluto_Biome7 = Planum Sputnik
        #Sol_Pluto_Biome8 = Cratère Burney
        #Sol_Pluto_Biome9 = Cratère Simonelli
        #Sol_Pluto_Biome10 = Cratère Guest
        #Sol_Pluto_Biome11 = Cratère Harrington
        #Sol_Pluto_Biome12 = Cratère Elliot
        #Sol_Pluto_Biome13 = Cratère K. Edgeworth
        #Sol_Pluto_Biome14 = Cratère Oort
        #Sol_Pluto_Biome15 = Dorsa Tartarus
        #Sol_Pluto_Biome16 = Terra Hayabusa
        #Sol_Pluto_Biome17 = Terra Pioneer
        #Sol_Pluto_Biome18 = Terra Voyager
        #Sol_Pluto_Biome19 = Terra Viking
        #Sol_Pluto_Biome20 = Terra Venera
    }
    ru
    {
        #Sol_Pluto_name = Плутон
        #Sol_Pluto_desc = Недавно исключённый из списка планет, Плутон теперь считается «карликовой планетой». Это крупнейший объект пояса Койпера и вторая по массе известная карликовая планета. Плутон в основном состоит из камня и льда и довольно мал.
        #Sol_Pluto_Biome1 = Поверхность
        #Sol_Pluto_Biome2 = Горы аль-Идриси
        #Sol_Pluto_Biome3 = Горы Чжэн Хэ
        #Sol_Pluto_Biome4 = Горы Баре
        #Sol_Pluto_Biome5 = Горы Хиллари
        #Sol_Pluto_Biome6 = Горы Норгей
        #Sol_Pluto_Biome7 = Равнина Сputnik
        #Sol_Pluto_Biome8 = Кратер Бёрни
        #Sol_Pluto_Biome9 = Кратер Симонелли
        #Sol_Pluto_Biome10 = Кратер Гест
        #Sol_Pluto_Biome11 = Кратер Харрингтон
        #Sol_Pluto_Biome12 = Кратер Эллиот
        #Sol_Pluto_Biome13 = Кратер К. Эджворт
        #Sol_Pluto_Biome14 = Кратер Оорт
        #Sol_Pluto_Biome15 = Хребты Тартар
        #Sol_Pluto_Biome16 = Земля Хаябуса
        #Sol_Pluto_Biome17 = Земля Пионер
        #Sol_Pluto_Biome18 = Земля Вояджер
        #Sol_Pluto_Biome19 = Земля Викинг
        #Sol_Pluto_Biome20 = Земля Венера
    }
    zh-cn
    {
        #Sol_Pluto_name = 冥王星（Pluto）
        #Sol_Pluto_desc = 近期被移出行星名录的冥王星（IAU编号：134340 Pluto），现被归类为“矮行星”。它是柯伊伯带中最大的天体，也是已知质量第二大的矮行星，主要由岩石和冰构成，体积相当小。
        #Sol_Pluto_Biome1 = 地表
        #Sol_Pluto_Biome2 = 伊德里西山
        #Sol_Pluto_Biome3 = 郑和山脉
        #Sol_Pluto_Biome4 = 巴雷山脉
        #Sol_Pluto_Biome5 = 希拉里山脉
        #Sol_Pluto_Biome6 = 诺盖山脉
        #Sol_Pluto_Biome7 = 史泼尼克平原
        #Sol_Pluto_Biome8 = 伯尼陨石坑
        #Sol_Pluto_Biome9 = 西蒙内利陨石坑
        #Sol_Pluto_Biome10 = 格斯特陨石坑
        #Sol_Pluto_Biome11 = 哈灵顿陨石坑
        #Sol_Pluto_Biome12 = 埃利奥特陨石坑
        #Sol_Pluto_Biome13 = 埃奇沃思陨石坑
        #Sol_Pluto_Biome14 = 奥尔特陨石坑
        #Sol_Pluto_Biome15 = 塔尔塔罗斯山脊
        #Sol_Pluto_Biome16 = 隼鸟高地
        #Sol_Pluto_Biome17 = 先驱者高地
        #Sol_Pluto_Biome18 = 旅行者高地
        #Sol_Pluto_Biome19 = 海盗高地
        #Sol_Pluto_Biome20 = 金星高地

        #Sol_Science_CrewReport_PlutoInSpace1 = 冥王星和冥卫一总黏在一起，就像一场超慢节奏的双人舞。
        #Sol_Science_CrewReport_PlutoInSpace2 = 冥王星表面那漩涡状的不规则纹理太迷人了，看得清清楚楚。
        #Sol_Science_CrewReport_PlutoInSpace3 = 管它是行星还是矮行星呢！人们总纠结于冥王星的“行星身份”，却没人好好看看它有多酷。
        #Sol_Science_CrewReport_PlutoInSpace4 = 冥王星肯定喜欢你，你感觉得出来，对吧？
        #Sol_Science_CrewReport_PlutoInSpace5 = 这个时节的冥卫一，看起来格外可爱。

        #Sol_Science_CrewReport_PlutoSrfLanded1 = 幼儿园时他们说“它不算真正的行星”。瞧瞧现在！你拼着一把年纪突破人类极限，就是为了在小鲍比·泰博斯面前炫耀这份成就！
        #Sol_Science_CrewReport_PlutoSrfLanded2 = 在这个距离，太阳和其他星星没什么两样。

        #Sol_Science_EVAReport_PlutoSrfLanded1 = 几十年来你一直琢磨着踏上冥王星表面该说啥。终于想好了：“俺是按钮脸，你好呀～” 完美！
        #Sol_Science_EVAReport_PlutoInSpace = 你可能有点老糊涂啦。
        #Sol_Science_EVAReport_PlutoSrfLanded2 = 你正式成为踏上其他天体表面的最年长人类！

        #Sol_Science_SurfaceSample_PlutoSrfLanded = 你差点忘了出舱干啥——好像是要采集地表样本？对，就是这个！你摸索着拿出采样器，发现了各种非水冰物质。

        #Sol_Science_TempScan_PlutoSrfLanded = 不出所料，这儿冷得离谱。

        #Sol_Science_GravityScan_PlutoSrfLanded = 冥卫一带来的极端潮汐效应让探测结果失真了。

        #Sol_Science_MysteryGoo_PlutoSrfLandedSputnikPlanum = 神秘黏液居然形成了一颗功能完好的人类心脏。

        #Sol_Science_MysteryGoo_PlutoInSpace = 盯着容器看的时候，你总觉得阴影里有什么东西在回望你。

        #Sol_Science_MML_PlutoInSpace1 = 010000100110100101101110011000010111001001111001
        #Sol_Science_MML_PlutoInSpace2 = 样本没什么变化，只有光敏藻类不再因阳光照射而发光。
        #Sol_Science_MML_PlutoSrfLanded1 = 你弄丢了眼镜，没眼镜根本看不清电脑报告。任务控制中心吐槽：几十年前的老电脑，字体这么小简直反人类。
        #Sol_Science_MML_PlutoSrfLanded2 = 样本没发生啥特别的，但生物监测仪好像 flatline 了几秒。你终于要不行了吗？这么多年了，终于等到这一天？结果发现是不小心拔掉了监测仪的插头。冥王星还没打算把你拖进冥界呢！
    }
}
