Localization
{
    en-us
    {
        #Sol_Luna_name = Luna^N
        #Sol_Luna_desc = Luna is Earth's only satellite, a large, gray, and rather barren rock. It is the only other body besides Earth that humans have stepped on and, briefly, called home.
        #Sol_Luna_Biome1 = Lowlands
        #Sol_Luna_Biome2 = Midlands
        #Sol_Luna_Biome3 = Highlands
        #Sol_Luna_Biome4 = North Pole
        #Sol_Luna_Biome5 = South Pole
        #Sol_Luna_Biome6 = Major Craters
        #Sol_Luna_Biome7 = Aitken Basin
        #Sol_Luna_Biome8 = Oceanus Procellarum
        #Sol_Luna_Biome9 = Mare Orientale
        #Sol_Luna_Biome10 = Mare Nubium
        #Sol_Luna_Biome11 = Mare Imbrium
        #Sol_Luna_Biome12 = Mare Serenitatis
        #Sol_Luna_Biome13 = Mare Tranquillitatis
        #Sol_Luna_Biome14 = Mare Fecunditatis
        #Sol_Luna_Biome15 = Mare Nectaris
        #Sol_Luna_Biome16 = Mare Frigoris
        #Sol_Luna_Biome17 = Mare Crisium

        #Sol_Science_CrewReport_LunaInSpace1 = It's a dull grey Luna but you love it anyway.
        #Sol_Science_CrewReport_LunaInSpace2 = You're sitting in a tin can, far above The Luna.
        #Sol_Science_CrewReport_LunaSrfLanded1 = The Spacecraft has Landed.
        #Sol_Science_CrewReport_LunaSrfLanded2 = Now to find out if it is made from cheese.
        #Sol_Science_CrewReport_LunaSrfLanded3 = You look around for studio lights.

        #Sol_Science_EVAReport_LunaSrfLandedLunarSeas = That's one small step for a man, one... giant leap for mankind.
        #Sol_Science_EVAReport_LunaSrfLanded1 = It's going to be hard to live up to Neil Armstrong's first words.
        #Sol_Science_EVAReport_LunaSrfLanded2 = I was strolling on the Luna one day, in the merry merry month of... uh... May?
        #Sol_Science_EVAReport_LunaSrfLanded3 = You search the sky for the Earth. You feel small.
        #Sol_Science_EVAReport_LunaSrfLanded4 = You look down at your boots, and see the footprint. It's remarkably well held-together.
        #Sol_Science_EVAReport_LunaSrfLandedFarSideBasin = You can't see the Earth at all. It's kind of eerie that your only connection to Earth is indirect satellite links.
        #Sol_Science_EVAReport_LunaInSpace = The ground is covered in craters. You hope you're not expected to land in this jetpack, because it would not work.

        #Sol_Science_SurfaceSample_LunaSrfLanded1 = As you pick up another cool rock, you decide to turn your sample collector into a golfing iron and hit a few rocks.
        #Sol_Science_SurfaceSample_LunaSrfLanded2 = The samples are remarkably similar to Earth rocks.

        #Sol_Science_SeismicScan_LunaSrfLanded = A few minor Lunaquakes every once in a while. All due to impacts, as Luna is geologically dead.

        #Sol_Science_GravityScan_LunaInSpace = The sensor maps the extremely uneven gravitational field of the Luna.

        #Sol_Science_MysteryGoo_Luna = The goo seems to be less dense here.

        #Sol_Science_MML_LunaSrfLanded1 = The fine dust of Luna has intermixed with some of the samples. You have a sneaking suspicion that they'll never be able to get the lab clean again.
        #Sol_Science_MML_LunaSrfLanded2 = You leave the sample bay doors open on the Luna, and go do something else for a while.

    }
    fr-fr
    {
        #Sol_Luna_name = La Lune^F
    }
    ru
    {
        #Sol_Luna_name = Луна^F
    }
    zh-cn
    {
        #Sol_Luna_name = 月球
        #Sol_Luna_desc = 月球是地球唯一的卫星,一个巨大的、灰色的、相当贫瘠的岩石星球.它是除了地球之外,人类唯一踏上过的另一个天体,简单来说,它也是家.
        #Sol_Luna_Biome1 = 低地
        #Sol_Luna_Biome2 = 内陆
        #Sol_Luna_Biome3 = 高原
        #Sol_Luna_Biome4 = 北极
        #Sol_Luna_Biome5 = 南极
        #Sol_Luna_Biome6 = 大陨石坑
        #Sol_Luna_Biome7 = 艾肯特盆地
        #Sol_Luna_Biome8 = 风暴洋
        #Sol_Luna_Biome9 = 东方海
        #Sol_Luna_Biome10 = 云海
        #Sol_Luna_Biome11 = 雨海
        #Sol_Luna_Biome12 = 澄海
        #Sol_Luna_Biome13 = 宁静海
        #Sol_Luna_Biome14 = 丰富海
        #Sol_Luna_Biome15 = 酒海
        #Sol_Luna_Biome16 = 冷海
        #Sol_Luna_Biome17 = 危海

        #Sol_Science_CrewReport_LunaInSpace1 = 这是一个暗灰色的月亮, 但你还是喜欢它.
        #Sol_Science_CrewReport_LunaInSpace2 = 你坐在一个罐头里, 远在月亮之上.
        #Sol_Science_CrewReport_LunaSrfLanded1 = 宇宙飞船已经着陆了.
        #Sol_Science_CrewReport_LunaSrfLanded2 = 现在去看看它是不是奶酪做的.
        #Sol_Science_CrewReport_LunaSrfLanded3 = 你四处寻找工作室的灯光.
        
        #Sol_Science_EVAReport_LunaSrfLandedLunarSeas = 这对个人来说是一小步, 对整个人类来说是一....个巨大飞跃.
        #Sol_Science_EVAReport_LunaSrfLanded1 = 要记住尼尔·阿姆斯特朗的第一句话是很难的.
        #Sol_Science_EVAReport_LunaSrfLanded2 = 有一天我在月亮上漫步, 在快乐的月份...休斯敦大学...五月?
        #Sol_Science_EVAReport_LunaSrfLanded3 = 你在星空中寻找地球的影子. 同时你觉得自己很渺小.
        #Sol_Science_EVAReport_LunaSrfLanded4 = 你低头看着你的靴子, 还有脚印.它们很好地结合在一起.
        #Sol_Science_EVAReport_LunaSrfLandedFarSideBasin = 你根本看不见地球. 你和地球的唯一联系是间接的卫星连接, 这有点奇怪.
        #Sol_Science_EVAReport_LunaInSpace = 地面上布满了陨石坑. 你希望你不会要用喷气背包来着陆, 因为它不起作用。

        #Sol_Science_SurfaceSample_LunaSrfLanded1 = 当你捡起另一块很酷的石头时, 你决定把你的样品采集器变成一个打高尔夫球的铁杆, 然后砸几个石头.
        #Sol_Science_SurfaceSample_LunaSrfLanded2 = 这些样品与地球岩石非常相似.

        #Sol_Science_SeismicScan_LunaSrfLanded = 每隔一段时间就会有几次轻微的月震. 所有这些都是由于撞击造成的, 因为月球在地质学上已经死亡.

        #Sol_Science_GravityScan_LunaInSpace = 该传感器描绘出月球极其不均匀的重力场.

        #Sol_Science_MysteryGoo_Luna = 黏液物质在这里似乎不那么黏了.

        #Sol_Science_MML_LunaSrfLanded1 = 月球上的微尘与一些样品混合在一起. 你偷偷的怀疑他们能不能把实验室打扫干净了.
        #Sol_Science_MML_LunaSrfLanded2 = 你把样品间的门留在月球上打开, 然后去做一些其他的事情.
    }
}