Localization
{
    en-us
    {
        #Sol_Mars_name = Mars
        #Sol_Mars_desc = The Red Planet. Named after the Roman god of war, Mars is the fourth planet, and second smallest planet in our solar system. Its reddish appearance is due to large amounts of iron oxide on the surface. Mars has a very thin atmosphere and has many craters which resemble our very own Moon. Mars also has the second highest known mountain in our solar system.
        #Sol_Mars_Biome1 = Midlands
        #Sol_Mars_Biome2 = Olympus Mons
        #Sol_Mars_Biome3 = Valles Marineris
        #Sol_Mars_Biome4 = Arean Mountains
        #Sol_Mars_Biome5 = Arean Canyons
        #Sol_Mars_Biome6 = North Ice Cap
        #Sol_Mars_Biome7 = South Ice Cap
        #Sol_Mars_Biome8 = Major Craters
        #Sol_Mars_Biome9 = Highlands
        #Sol_Mars_Biome10 = Lowlands
        #Sol_Mars_Biome11 = Alba Mons
        #Sol_Mars_Biome12 = Elysium Mons
        #Sol_Mars_Biome13 = Tharsis Rise
        #Sol_Mars_Biome14 = Tempe Terra
        #Sol_Mars_Biome15 = Hellas Basin
        #Sol_Mars_Biome16 = Argyre Basin
        #Sol_Mars_Biome17 = Arabia Terra
        #Sol_Mars_Biome18 = Utopia Planitia
        #Sol_Mars_Biome19 = Amazonis Planitia

        #Sol_Science_CrewReport_MarsSrfLanded1 = You look out the window for Little Green Men from Mars.
        #Sol_Science_CrewReport_MarsSrfLanded2 = Mars, the red planet. Wow. You're actually there.
        #Sol_Science_CrewReport_MarsFlying1 = Seven Minutes of Terror seem to mostly be over.
        #Sol_Science_CrewReport_MarsFlying2 = There's almost no atmospheric drag here.
        #Sol_Science_CrewReport_MarsFlyingHigh = Mars' atmosphere is so thin it won't slow you down much, but it is so thick that you have to deal with shock heating.
        #Sol_Science_CrewReport_MarsInSpaceLow = What a terrifically red planet.
        #Sol_Science_CrewReport_MarsInSpaceHigh = Mars, the Red Planet. You can see Phobos and Deimos out the window.

        #Sol_Science_EVAReport_MarsSrfLanded1 = And with peace, man has conquered the God of War.
        #Sol_Science_EVAReport_MarsSrfLanded2 = In your FACE, Neil Armstrong.
        #Sol_Science_EVAReport_MarsSrfLandedVallesMarineris = "The view from here is spectacular. Just look at those cliffs. Scares the heck out of me, actually."
        #Sol_Science_EVAReport_MarsSrfLandedMajorCraters = You wonder if you could see a rover from here.
        #Sol_Science_EVAReport_MarsSrfLandedOlympusMons = You're sitting with the gods here. Just as well, the atmosphere is essentially a vacuum up here.

        #Sol_Science_SurfaceSample_MarsSrfLanded1 = The grey rocks dot the surface, and the soil is rich in iron. Just below the red soil is a dark grey surface.
        #Sol_Science_SurfaceSample_MarsSrfLanded2 = This surface consists of a grainy, very fine sand-like dust, and it appears to be getting everywhere.
        #Sol_Science_SurfaceSample_MarsSrfLanded3 = You hum the tune to Gustav Holst's Mars soundtrack as you pick up another rock.
        #Sol_Science_SurfaceSample_MarsSrfLanded4 = Unable to satisfy your Curiosity, you attempt to drill into the rock with your tool. You're thinking it would be a lot easier if you had some kind of pulsating drill thing on a robotic arm.
        #Sol_Science_SurfaceSample_MarsSrfLanded5 = There appears to be traces of water in the soil!
        #Sol_Science_SurfaceSample_MarsSrfLandedNorthIceCap1 = The ground is frozen carbon dioxide. Just under the dry ice is a layer of red dust and then grey rock. There's some water ice scatterered around as well.
        #Sol_Science_SurfaceSample_MarsSrfLandedSouthIceCap1 = The ground is frozen carbon dioxide and reddish dirt. You wonder what Mars would be like if it had much larger ice caps.
        #Sol_Science_SurfaceSample_MarsSrfLandedNorthIceCap2 = Snow Angel-nauts would seem to be possible here. This warrants further testing.
        #Sol_Science_SurfaceSample_MarsSrfLandedSouthIceCap2 = Snowball wars could be fought out here.
        #Sol_Science_SurfaceSample_MarsSrfLandedOlympusMons = Beneath the red dust is several layers of frozen lava!

        #Sol_Science_TempScan_MarsSrfLanded = Depending on the orientation, the thermometer either reads cold or very cold.

        #Sol_Science_GravityScan_MarsSrfLanded = Your mother would weigh only 250 pounds here.

        #Sol_Science_MysteryGoo_MarsInSpace = The goo seems to take on an orange-red sheen, looking very much like the planet below.

    }
    fr-fr
    {
        #Sol_Mars_name = Mars^M
    }
    ru
    {
        #Sol_Mars_name = Марс^M
    }
    zh-cn
    {
        #Sol_Mars_name = 火星（Mars）
        #Sol_Mars_desc = 火星，又名“红色星球”，以罗马战神命名，是太阳系第四颗行星，也是太阳系中体积第二小的行星。其呈红色的外观源于表面大量的氧化铁。火星大气层极其稀薄，表面布满了类似月球的陨石坑，同时还拥有太阳系已知第二高的山脉。
        #Sol_Mars_Biome1 = 内陆
        #Sol_Mars_Biome2 = 奥林匹斯山
        #Sol_Mars_Biome3 = 水手谷
        #Sol_Mars_Biome4 = 火星山脉
        #Sol_Mars_Biome5 = 火星峡谷
        #Sol_Mars_Biome6 = 北极冰盖
        #Sol_Mars_Biome7 = 南极冰盖
        #Sol_Mars_Biome8 = 大型陨石坑
        #Sol_Mars_Biome9 = 高地
        #Sol_Mars_Biome10 = 低地
        #Sol_Mars_Biome11 = 阿尔巴山
        #Sol_Mars_Biome12 = 埃律西昂山
        #Sol_Mars_Biome13 = 塔尔西斯隆起
        #Sol_Mars_Biome14 = 腾佩台地
        #Sol_Mars_Biome15 = 赫拉斯盆地
        #Sol_Mars_Biome16 = 阿尔及尔盆地
        #Sol_Mars_Biome17 = 阿拉伯台地
        #Sol_Mars_Biome18 = 乌托邦平原
        #Sol_Mars_Biome19 = 亚马逊平原

        #Sol_Science_CrewReport_MarsSrfLanded1 = 你望向窗外，想找找火星上的小绿人。
        #Sol_Science_CrewReport_MarsSrfLanded2 = 火星，这颗红色星球。哇，你真的来到这里了。
        #Sol_Science_CrewReport_MarsFlying1 = “恐怖七分钟”似乎差不多结束了。
        #Sol_Science_CrewReport_MarsFlying2 = 这里几乎没有大气阻力。
        #Sol_Science_CrewReport_MarsFlyingHigh = 火星大气层太薄，减速效果有限，但又足够厚，让你不得不应对激波加热。
        #Sol_Science_CrewReport_MarsInSpaceLow = 这颗星球红得真彻底。
        #Sol_Science_CrewReport_MarsInSpaceHigh = 火星，红色星球。你能从窗外看到火卫一和火卫二。

        #Sol_Science_EVAReport_MarsSrfLanded1 = 人类以和平之名，征服了战神（Mars）。
        #Sol_Science_EVAReport_MarsSrfLanded2 = 尼尔·阿姆斯特朗，服不服！
        #Sol_Science_EVAReport_MarsSrfLandedVallesMarineris = “这里的景色太壮观了。看看那些悬崖，说实话，吓得我不轻。”
        #Sol_Science_EVAReport_MarsSrfLandedMajorCraters = 你在想，从这里能不能看到火星车。
        #Sol_Science_EVAReport_MarsSrfLandedOlympusMons = 你简直是与神同坐。不过也难怪，这里的大气层几乎和真空没区别。

        #Sol_Science_SurfaceSample_MarsSrfLanded1 = 灰色的岩石点缀着地表，土壤富含铁元素。红色土层之下，是深灰色的岩石表面。
        #Sol_Science_SurfaceSample_MarsSrfLanded2 = 地表覆盖着颗粒细小的砂质尘埃，而且似乎无孔不入。
        #Sol_Science_SurfaceSample_MarsSrfLanded3 = 你一边捡起另一块岩石，一边哼着古斯塔夫·霍尔斯特的《火星》乐章。
        #Sol_Science_SurfaceSample_MarsSrfLanded4 = 好奇心得不到满足，你试图用工具在岩石上钻孔。你觉得，如果有个机械臂配脉冲钻机之类的设备，肯定会轻松得多。
        #Sol_Science_SurfaceSample_MarsSrfLanded5 = 土壤中似乎有水分痕迹！
        #Sol_Science_SurfaceSample_MarsSrfLandedNorthIceCap1 = 地面覆盖着冻结的二氧化碳（干冰）。干冰之下是一层红色尘埃，再往下就是灰色岩石。周围还散落着一些水冰。
        #Sol_Science_SurfaceSample_MarsSrfLandedSouthIceCap1 = 地面由冻结的二氧化碳和红色泥土构成。你在想，如果火星的冰盖更大，会是什么样子。
        #Sol_Science_SurfaceSample_MarsSrfLandedNorthIceCap2 = 在这里应该能堆个“太空雪人”，这值得进一步测试。
        #Sol_Science_SurfaceSample_MarsSrfLandedSouthIceCap2 = 在这里打雪仗肯定很有意思。
        #Sol_Science_SurfaceSample_MarsSrfLandedOlympusMons = 红色尘埃之下，是多层凝固的熔岩！

        #Sol_Science_TempScan_MarsSrfLanded = 温度计的读数要么是冷，要么是非常冷，全看朝向。

        #Sol_Science_GravityScan_MarsSrfLanded = 你妈妈在这里的体重只会有250磅。

        #Sol_Science_MysteryGoo_MarsInSpace = 神秘黏液呈现出橙红色光泽，和下方的火星长得一模一样。
    }
}