Localization
{
    en-us
    {
        #Sol_Deimos_name = Deimos
        #Sol_Deimos_desc = The second natural satellite around Mars, Deimos is named after Phobos' twin brother, said to personify terror.
        #Sol_Deimos_Biome1 = Lowlands
        #Sol_Deimos_Biome2 = Craters
        #Sol_Deimos_Biome3 = Highlands

        #Sol_Science_CrewReport_MarsInSpaceHigh = Mars, the Red Planet. You can see Phobos and Deimos out the window.

        #Sol_Science_CrewReport_DeimosSrfLanded = You're not entirely certain that you're not still in freefall.
        #Sol_Science_CrewReport_DeimosInSpace = "Have *you* ever fell around a mountain before?" That is your new comeback to anything ever.

        #Sol_Science_EVAReport_DeimosSrfLanded = Single Stage to Orbit? More like Single Burp to Orbit!
        #Sol_Science_SurfaceSample_DeimosSrfLanded = Deimos' surface regolith is almost, but not quite, entirely unlike Earth's.
    }
}