Localization
{
    en-us
    {
        #Sol_Psyche_name = Psyche
        #Sol_Psyche_desc = 16 Psyche is a large M-type asteroid discovered by the Italian astronomer Annibale de Gasparis, working in Naples, on 17 March 1852 and named after the Greek mythological figure Psyche. The prefix "16" signifies that it was the sixteenth minor planet in order of discovery. It is the largest and most massive of the M-type asteroids, and one of the dozen most massive asteroids. It has a mean diameter of approximately 220 kilometres (140 mi) and contains about one percent of the mass of the asteroid belt. Historically, it was hypothesized to be the exposed core of a protoplanet, but numerous recent studies have all but ruled that out. Psyche was scheduled for space exploration, with a spacecraft launch planned in 2022, arrival in early 2026, and orbital exploration in 2026–2027.
        #Sol_Psyche_Biome1 = Gigantic Craters
        #Sol_Psyche_Biome2 = Craters
        #Sol_Psyche_Biome3 = Cliffs
        #Sol_Psyche_Biome4 = Equatorial Bulges
        #Sol_Psyche_Biome5 = Northern Hemisphere
        #Sol_Psyche_Biome6 = Southern Hemisphere
    }
    fr-fr
    {
        #Sol_Psyche_name = Psyché
        #Sol_Psyche_desc = 16 Psyché est un grand astéroïde de type M découvert par l’astronome italien Annibale de Gasparis à Naples le 17 mars 1852, et nommé d’après la figure mythologique grecque Psyché. Le préfixe « 16 » indique qu’il s’agit de la seizième planète mineure découverte. C’est le plus grand et le plus massif des astéroïdes de type M, et l’un de la douzaine d’astéroïdes les plus massifs. Son diamètre moyen est d’environ 220 kilomètres et elle représente environ 1 % de la masse de la ceinture d’astéroïdes. Historiquement, on a émis l’hypothèse qu’il s’agissait du noyau exposé d’une protoplanète, mais de nombreuses études récentes ont presque totalement écarté cette idée. Une mission spatiale est prévue vers Psyché, avec un lancement en 2022, une arrivée début 2026 et une exploration orbitale en 2026–2027.
        #Sol_Psyche_Biome1 = Cratères gigantesques
        #Sol_Psyche_Biome2 = Cratères
        #Sol_Psyche_Biome3 = Falaises
        #Sol_Psyche_Biome4 = Renflements équatoriaux
        #Sol_Psyche_Biome5 = Hémisphère nord
        #Sol_Psyche_Biome6 = Hémisphère sud
    }
    ru
    {
        #Sol_Psyche_name = Психея
        #Sol_Psyche_desc = 16 Психея — крупный астероид типа M, открытый итальянским астрономом Аннибале де Гаспарисом в Неаполе 17 марта 1852 года и названный в честь персонажа греческой мифологии Психеи. Префикс «16» означает, что это была шестнадцатая по счёту открытая малая планета. Это крупнейший и самый массивный астероид типа M и один из дюжины самых массивных астероидов. Его средний диаметр составляет около 220 километров, и он содержит примерно 1 % массы пояса астероидов. Ранее считалось, что Психея может быть обнажённым ядром протопланеты, но многочисленные недавние исследования почти полностью исключили эту гипотезу. Космический аппарат для исследования Психеи был запланирован к запуску в 2022 году, с прибытием в начале 2026 года и орбитальной миссией в 2026–2027 годах.
        #Sol_Psyche_Biome1 = Гигантские кратеры
        #Sol_Psyche_Biome2 = Кратеры
        #Sol_Psyche_Biome3 = Утёсы
        #Sol_Psyche_Biome4 = Экваториальные возвышения
        #Sol_Psyche_Biome5 = Северное полушарие
        #Sol_Psyche_Biome6 = Южное полушарие
    }
    zh-cn
    {
        #Sol_Psyche_name = 灵神星（Psyche）
        #Sol_Psyche_desc = 灵神星（IAU编号：16 Psyche）是一颗大型M型小行星，由意大利天文学家安尼巴莱·德·加斯帕里斯（Annibale de Gasparis）于1852年3月17日在那不勒斯观测发现，以希腊神话中的灵神普绪克（Psyche）命名。前缀“16”代表它是人类发现的第十六颗小行星。作为M型小行星中体积最大、质量最重的一颗，它也是太阳系中质量排名前十二的小行星之一，平均直径约220公里（140英里），质量约占小行星带总质量的1%。历史上，科学家曾假设它是一颗原行星的裸露核心，但近期多项研究几乎推翻了这一假设。灵神星已被纳入太空探索计划，探测器计划于2022年发射，2026年初抵达目标轨道，并在2026-2027年开展轨道探测任务。
        #Sol_Psyche_Biome1 = 巨型陨石坑
        #Sol_Psyche_Biome2 = 陨石坑
        #Sol_Psyche_Biome3 = 峭壁
        #Sol_Psyche_Biome4 = 赤道隆起带
        #Sol_Psyche_Biome5 = 北半球
        #Sol_Psyche_Biome6 = 南半球
    }
}
