Localization
{
    en-us
    {
        #Sol_Titan_name = Titan
        #Sol_Titan_desc = Titan is the largest moon of Saturn. It is the only natural satellite known to have a dense atmosphere, and the only object other than Earth where clear evidence of stable bodies of surface liquid has been found.
        #Sol_Titan_Biome1 = Lowlands
        #Sol_Titan_Biome2 = Midlands
        #Sol_Titan_Biome3 = Highlands
        #Sol_Titan_Biome4 = Shores
        #Sol_Titan_Biome5 = Seas
        #Sol_Titan_Biome6 = Canyons
        #Sol_Titan_Biome7 = Poles

        #Sol_Science_CrewReport_TitanInSpaceHigh = From the distance, Titan seems to be a fuzzy orange sphere.
        #Sol_Science_CrewReport_TitanInSpaceLow = Titan seems to have been aptly named. It's quite large by Moon standards.
        #Sol_Science_CrewReport_TitanFlyingHigh = Atmospheric entry here is calm and sedate, considering the thick atmosphere and the low velocity.
        #Sol_Science_CrewReport_TitanFlyingLow = There's so much air density here you could probably fly a brick, so your spacecraft flies quite nicely.
        #Sol_Science_CrewReport_TitanSrfLanded = Extreme cold aside, it's an extremely cool moon.
        #Sol_Science_CrewReport_TitanSrfSplashed = The oceans are made from Methane. Your spacecraft sinks easily.

        #Sol_Science_SurfaceSample_TitanSrfLanded = The rocks? Solid ice. The dirt? Snow. It's all totally frozen. Virtually indistinguishable in appearance from rock and dirt.
        #Sol_Science_SurfaceSample_TitanSrfSplashed = While normally the appearance of organic molecules in a lake on another world would be huge news, unfortunately the organic molecule in question is liquid methane, which happens to be the liquid that the lake is made from. Any study of this sample would have to be done in a heavily refrigerated container.

        #Sol_Science_TempScan_TitanSrfLanded = The thermometer has frozen. This is one of the coldest places in the solar system.

        #Sol_Science_MysteryGoo_TitanSrfLanded = The goo has frozen solid and has fallen to the bottom of the container.

        #Sol_Science_MML_TitanSrfLanded = It appears that some of the samples have become more conductive in the extreme cold.
    }
    fr-fr
    {
        #Sol_Titan_name = Titan^M
    }
    ru
    {
        #Sol_Titan_name = Титан^M
    }
    zh-cn
    {
        #Sol_Titan_name = 土卫六（Titan）
        #Sol_Titan_desc = 土卫六是土星最大的卫星，也是太阳系中唯一已知拥有浓厚大气层的天然卫星，同时是除地球外唯一被证实存在稳定地表液态水体的天体。
        #Sol_Titan_Biome1 = 低地
        #Sol_Titan_Biome2 = 内陆
        #Sol_Titan_Biome3 = 高地
        #Sol_Titan_Biome4 = 海岸
        #Sol_Titan_Biome5 = 甲烷海
        #Sol_Titan_Biome6 = 峡谷
        #Sol_Titan_Biome7 = 极地

        #Sol_Science_CrewReport_TitanInSpaceHigh = 从远处看，土卫六就像一个模糊的橙色球体。
        #Sol_Science_CrewReport_TitanInSpaceLow = 土卫六的名字真是恰如其分——以卫星标准来看，它实在太大了。
        #Sol_Science_CrewReport_TitanFlyingHigh = 考虑到这里浓厚的大气层和较低的速度，进入大气层的过程相当平稳。
        #Sol_Science_CrewReport_TitanFlyingLow = 这里的空气密度大到扔块砖头都能飞，所以你的航天器飞得格外平稳。
        #Sol_Science_CrewReport_TitanSrfLanded = 除了极度寒冷之外，这颗卫星实在太酷了。
        #Sol_Science_CrewReport_TitanSrfSplashed = 这些“海洋”其实是甲烷构成的，你的航天器轻易就沉了下去。

        #Sol_Science_SurfaceSample_TitanSrfLanded = 所谓的“岩石”？其实是固态冰。“泥土”？其实是冰雪。这里的一切都冻得严严实实，外观上和岩石、泥土几乎别无二致。
        #Sol_Science_SurfaceSample_TitanSrfSplashed = 通常来说，在另一个星球的湖泊中发现有机分子会是重大新闻——但遗憾的是，这里的有机分子是液态甲烷，而这正是湖泊本身的构成成分。对这个样本的任何研究，都必须在高度冷藏的容器中进行。

        #Sol_Science_TempScan_TitanSrfLanded = 温度计都冻住了。这里是太阳系中最寒冷的地方之一。

        #Sol_Science_MysteryGoo_TitanSrfLanded = 神秘黏液完全冻结成固体，沉到了容器底部。

        #Sol_Science_MML_TitanSrfLanded = 似乎部分样本在极端低温下变得更具导电性了。
    }
}