Localization
{
    en-us
    {
        #Sol_Pallas_name = Pallas
        #Sol_Pallas_desc = Pallas (minor-planet designation: 2 Pallas) is the second asteroid to have been discovered, after Ceres. It is believed to have a mineral composition similar to carbonaceous chondrite meteorites, like Ceres, though significantly less hydrated than Ceres. It is the third-largest asteroid in the Solar System by both volume and mass, and is a likely remnant protoplanet. It is 79% the mass of Vesta and 22% the mass of Ceres, constituting an estimated 7% of the mass of the asteroid belt. Its estimated volume is equivalent to a sphere 507 to 515 kilometers (315 to 320 mi) in diameter, 90–95% the volume of Vesta.
        #Sol_Pallas_Biome1 = Craters
        #Sol_Pallas_Biome2 = South Polar Flatlands
        #Sol_Pallas_Biome3 = North Polar Region
        #Sol_Pallas_Biome4 = Equatorial Bulge
        #Sol_Pallas_Biome5 = Northern Hemisphere
        #Sol_Pallas_Biome6 = Southern Hemisphere
    }
    fr-fr
    {
        #Sol_Pallas_name = Pallas
        #Sol_Pallas_desc = Pallas (désignation de planète mineure : 2 Pallas) est le deuxième astéroïde découvert, après Cérès. On pense qu’il possède une composition minérale similaire aux chondrites carbonées, comme Cérès, bien qu’il soit nettement moins hydraté. C’est le troisième plus grand astéroïde du Système solaire par volume et par masse, et probablement un vestige de protoplanète. Sa masse représente 79 % de celle de Vesta et 22 % de celle de Cérès, soit environ 7 % de la masse de la ceinture d’astéroïdes. Son volume est estimé équivalent à une sphère de 507 à 515 kilomètres de diamètre, soit 90–95 % du volume de Vesta.
        #Sol_Pallas_Biome1 = Cratères
        #Sol_Pallas_Biome2 = Plaines polaires sud
        #Sol_Pallas_Biome3 = Région polaire nord
        #Sol_Pallas_Biome4 = Renflement équatorial
        #Sol_Pallas_Biome5 = Hémisphère nord
        #Sol_Pallas_Biome6 = Hémisphère sud
    }
    ru
    {
        #Sol_Pallas_name = Паллада
        #Sol_Pallas_desc = Паллада (обозначение малой планеты: 2 Паллада) — второй открытый астероид после Цереры. Считается, что её минеральный состав схож с углеродистыми хондритами, как у Цереры, хотя она значительно менее гидратирована. Это третий по величине астероид в Солнечной системе по объёму и массе, вероятный остаток протопланеты. Масса Паллады составляет 79 % массы Весты и 22 % массы Цереры, что примерно равно 7 % массы пояса астероидов. Её объём оценивается как сфера диаметром 507–515 км, что составляет 90–95 % объёма Весты.
        #Sol_Pallas_Biome1 = Кратеры
        #Sol_Pallas_Biome2 = Южные полярные равнины
        #Sol_Pallas_Biome3 = Северный полярный регион
        #Sol_Pallas_Biome4 = Экваториальное утолщение
        #Sol_Pallas_Biome5 = Северное полушарие
        #Sol_Pallas_Biome6 = Южное полушарие
    }
    zh-cn
    {
        #Sol_Pallas_name = 智神星（Pallas）
        #Sol_Pallas_desc = 智神星（IAU编号：2 Pallas）是继谷神星之后人类发现的第二颗小行星。它的矿物成分被认为与碳质球粒陨石相似（和谷神星一致），但含水量显著低于谷神星。按体积和质量计算，智神星均为太阳系第三大小行星，且很可能是一颗原行星残骸。其质量为灶神星（Vesta）的79%、谷神星（Ceres）的22%，约占小行星带总质量的7%；估算体积相当于直径507至515公里（315至320英里）的球体，为灶神星体积的90%至95%。
        #Sol_Pallas_Biome1 = 陨石坑
        #Sol_Pallas_Biome2 = 南极平原
        #Sol_Pallas_Biome3 = 北极区域
        #Sol_Pallas_Biome4 = 赤道隆起带
        #Sol_Pallas_Biome5 = 北半球
        #Sol_Pallas_Biome6 = 南半球
    }
}
